html{
	height: 100%;
}
body{
  background: #fff;
  width: 100%;
  padding: 0;
  margin: 0;
    color: darkslategray;
	height: 100%;

}

/* el futer */
#container {
   min-height:100%;
   position:relative;
}
#body {
   padding-bottom:50px;   /* Height of the footer */
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:30px;   /* Height of the footer */
	padding-top: 3px;
	background: #e0e0e0;
}

/*INICIO*/

.row {
    margin: 0px 0px 0px 0px;
}

#img-bitcoin{
	width: 20%;
	height: 40%;
}

#terms-policy{
	font-size: 10pt;
	list-style: none;	
}
#terms-policy li{
	display: inline-block;
}


h2.subtitulos{
    font-family: 'Lobster', cursive;
    font-size: 50px;
    color: #4F8ED8;
}

h3.subtitulos{
    font-family: 'Lobster', cursive;
    font-size: 35px;
    color: #4F8ED8;
}

.navbar-default .container-fluid .row{
background: #fff;
}

/*Propiedades del botón de SignUp*/

.linea1 ul li a:hover{
  background: #fff;
}

.linea1 ul li a{
padding: 20px 5px 0px 0px;
}
.linea1 ul{
  padding: 0px 11px 0px 0px;
    margin: 0px 0px 0px 0px;
}
.linea1 ul li a button{
  color:#fff;
  background: #4F8EDB;
}

#botones-login{
	padding-left: 20px;
	padding-top: 3px;
}

/*Propiedades del botón de LogIn*/

  .A{
  background: #fff;
  color:#4F8EDB;
	  width: 90px;
}

.M{
	width: 90px;
}
/*Propiedades del menu*/

.navbar-default{
  background: #4F8ED8;
  width: 100%;
  margin: 0px 0px -20px 0px;
  padding: 0;
}

.navbar-collapse .navbar-nav li a:hover{
  color:#4F8EDB;
  background: #fff;
}

.navbar-collapse .navbar-nav li a{
  color:#fff;

}

.navbar-default .container-fluid .navbar-header button {
  background: #fff;
}

.navbar-collapse .navbar-nav li{
  border-bottom: 1px solid rgba(255,255,255,.5);
}

/*Propiedades de la pantalla pequeña*/

@media screen and (max-width: 800px){
	
    .row {
    margin: 0px 0px 0px 0px;
    }
	#footer {	   
	   height:90px !important;   /* Height of the footer */
		
	}

	
	.box {
		height: 340px !important;
	}
	.div-logo{
		padding-top: 20px;
	}
    
      .btn-group-lg .ad{
        display: none;
      }
      
      .linea1 ul li a{
    padding: 10px 5px 0px 0px;
    }
    .saludo{
        padding: 0;
        margin: 0;
    }
    .saludo li h2{
      font-size: 30px;
        margin: 15px 0px 0px -38px;
    }
    .row .info-user{
        font-size: 16px;
        padding: 20px 0px 0px 0px;
    }
    
    .letras-pequeñas{
        font-size: 12px !important;
    }

    .row .imagen-medalla{
      display: none;
    }
    
    .row .fondo-botones-redondos{
        padding: 15px 0px 0px 30px;
    }
    
    .row .botones-redondos{
          padding: 10px 0px 0px 0px;
          margin: 0px 0px 0px 0px;
          text-align: center;
          width: 55px; 
          line-height: 40px;
          border-radius: 50%;
          box-shadow: 1px 3px 1px #fff;
          cursor: pointer;
    }

    .row .botones-redondos span{
        color:#fff;
        font-size: 35px;
        position: center;   
        top: 4px;
        left: 1px;
    }    
    
    .row .boton-jugadas h3, .boton-referidos h3, .boton-trofeos h3{
        font-size: 15px;        
    }
    
    .caja-nombres-botones{
        margin: -10px 0px 0px 0px;
    }
    
    .botones-myaccount-group{
    padding: 0px 0px 0px 95px !important;    
    }
    
    #boton-change_wallet{
        margin: 7px 0px 7px 0px;
    }



    .tabla{
        width: 70%;
        margin: 0px 0px 0px 50px;
    }
    
    .botones-centena{
        padding: 0px 0px 0px 40px !important;
        width: 80% !important;
    }
    
    .cientos{
        width: 45px;
    }

    .carousel-inner .active .img-corousel{
        height: 360px !important;
		
    }
	
	/* resultados */
	.numeros-podio{	
		font-size: 25px !important;	
	}
	
	.letras-podio{	
		font-size: 20px !important;
	}
	
	
	#resultado-primer{
		margin-top: 40px !important;
	}

	#resultado-segundo{
		margin-top: 30px !important;
	}


    
    
    /* Matriz de pago pantalla pequeña*/

    /*matriz*/
    .btn-matrix{
        margin: 0px 0px 0px 0px;
    }
    .btn-matrix > .btn:nth-child(5n+1) {
      clear: left;
      margin-left: 0;
    }
    .btn-matrix > .btn:nth-child(n) {
      margin-top: 1px;
    }
    .btn-matrix > .btn:first-child {
      border-bottom-left-radius: 0;
    }
    .btn-matrix > .btn:nth-child(5) {
      border-top-right-radius: 4px !important;
    }
    .btn-matrix > .btn:nth-last-child(5) {
      border-bottom-left-radius: 4px !important;
    }
    .btn-matrix > .btn:last-child {
      border-top-right-radius: 0;
    }

    .custom {
        width: 60px !important;
    }
    
    .columnaMatriz{       
    padding: 0px 0px 0px 0px !important;     
    margin: 0px 0px 0px 20px !important;
}

    
    
}

/*Botón PLAY NOW*/

#B{
  background: #5cb85c;
}

#B:hover{
  color:#fff;
}

/*Botones de abajo*/

.btn-group .btn-primary{
  background:#4F8ED8;

}
.btn-group .df{
  background: #5cb85c;
}
.carousel-inner .active .img-corousel{
	height: 447px;
	width: 100%;
}
/*FIN DE INICIO*/

/*DETALLES*/

.about button{
background: #4F8ED8;
color:#fff;
}

.about button:hover{
color: #4F8ED8;
background:#fff;
}

#C{
color: #4F8ED8;
font-style: bold;
}

.textos-explicativos{
    text-align: justify;
}

/*FIN DE DETALLES*/


/*Login*/

.saludo li h2{
    color: #fff;
}

#D{
  background: #4F8ED8;
  color:#fff;
}

#E{
  background: #fff;
  color: #4F8ED8;
}


.panel-group .row ul li{
  list-style: none;
}
.box {

  width: 100%;
  height: 300px;
  margin: 0 auto;
  background:  linear-gradient(to bottom, #0066ff 0%, #6699ff 102%);
  border:3px solid;
  border-radius: 30px;
  color: #fff;
}


.info-user{  
	text-align: justify;	
  	font-size: 20px;
    padding: 0px 50px 0px 0px;
}

.identificador-info{
	color: #c7d9ed;	
}
.info-user li{
    text-align: left;   
    position: relative;
    left: -40px;
}
.imagen-medalla{
  margin: 30px 0px 0px 0px;

}

.imagen-medalla img{
  
 width: 150px;
  display: block;
  border-radius: 50%;
  position: relative;
  bottom: 30px;
}
.caja-botones{
  padding: 0;
  margin right: 10px;
}

.botones-redondos{
  background: #4da6ff;
  padding: 10px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  text-align: center;
  width: 100px; 
  line-height: 70px;
  border-radius: 50%;
  box-shadow: 1px 3px 1px #fff;
  cursor: pointer;
}

.botones-redondos span{
    color:#fff;
    font-size: 50px;
    position: center;   
    top: 8px;
    left: 2px;
}

#upgrade-link{
    color: lawngreen;
    font-size: 18px;
}

.botones-redondos:hover{
  background: #80bfff;
  box-shadow: 0px 0px 0px;
  padding-top: 7px; 
}

.botones-myaccount-group{
    padding: 0px 0px 0px 0px;
}

.botones-myaccount{
    width: 150px;
    background: #4F8ED8;
}

h2.puntos-BTCrace{
	display: inline;
}
h4.puntos-BTCrace{
	display: inline;
}
.renglon-plays{
	padding-left: 35px;
}

/*FIN DE LOGIN*/

/*TESTIMONIOS*/
.caja-testimonios{
    background: #4F8ED8;
    padding: 20px 20px 20px 20px;
    overflow: auto;
    height : 500px;
    border-radius: 8px;
    box-shadow: 3px 3px 3px grey;
}

/*RESULTS*/
.renglon-resultados{
    margin-top: 30px;
}
.caja-resultados{
    background: #4F8ED8;
    color: #fff;
    padding: 0px 20px 20px 20px;
    height : 500px;
    border-radius: 8px;
    box-shadow: 3px 3px 3px grey;
    
}

.links-resultados{
	color: #fff;
	text-decoration: none;
}
.links-resultados:hover{
	color: #80bfff;
	text-decoration: none;
	
}

.hr-pava{
    height: 2px;
    border: 0;
    box-shadow: 0 5px 5px -5px #fff inset;
    margin-top: 0px;
}

.hr-pava2{
    height: 2px;
    border: 0;
    box-shadow: 0 5px 5px -5px #4F8ED8 inset;
    
}

.ranking{
	height : 500px;
    border-radius: 8px;
    box-shadow: 3px 3px 3px grey;	
    border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #4F8ED8;
}
.podio{
	margin-top: 50px;
}
.primerlugar{
	background: #4F8ED8;
	height: 192px;
	border-left: 2px solid #fff;
	border-right: 2px solid #fff;
}
.segundolugar{
	background: #4F8ED8;
	height: 155px;
	margin-top: 37px;
}
.tercerlugar{
	background: #4F8ED8;
	height: 117px;
	margin-top: 75px;
}
.numeros-podio{
	color: #fff;
	font-size: 35px;
	margin-top: 0px;
}
.resultado-podio{	
	margin-top: -10px;
}
.letras-podio{	
	color: #fff;
	font-family: 'Lobster', cursive;
	font-size: 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}




/* Matriz de pago */

/*matriz*/
.btn-matrix > .btn:nth-child(10n+1) {
  clear: left;
  margin-left: 0;
}
.btn-matrix > .btn:nth-child(n) {
  margin-top: 1px;
}
.btn-matrix > .btn:first-child {
  border-bottom-left-radius: 0;
}
.btn-matrix > .btn:nth-child(10) {
  border-top-right-radius: 4px !important;
} 
.btn-matrix > .btn:nth-last-child(10) {
  border-bottom-left-radius: 4px !important;
}
.btn-matrix > .btn:last-child {
  border-top-right-radius: 0;
}

.custom {
    width: 60px !important;
}

/* Decorations */
.btn-matrix {
  margin: 20px;
}

.tabla{
    padding: 20px 0px 0px 0px;
 
}

.columnaMatriz{
    
    padding: 0px 0px 0px 20px;
    margin: 0px 0px 100px 50px;
}

.botones-centena{
    padding: 0px 0px 0px 50px;
}

.renglon-betcpot{
    padding: 10px 0px 0px 0px;
}

#delete_span{
    color:#d9534f;
}

#submit_jugada{
    font-weight:bold;
}

.change-password{
    padding: 15px 0px 0px 0px;
    
}

.submit-color-betcnow{
    background: #4F8ED8;
    
}

.color-azul-betcnow{
    color: #4F8ED8;
}

.color-verde-betcnow{
    color: #5cb85c !important;
}