html{
	height: 100%;
}
body{
  background: #fff;
  width: 100%;
  padding: 0;
  margin: 0;
    color: darkslategray;
	height: 100%;

}

/* el futer */
#container {
   min-height:100%;
   position:relative;
}
#header{
	margin-top: 10px;
}
#row-logo-y-botones{
	margin-bottom: 5px;
	padding-right: 0px;
}
#body {
   padding-bottom:50px;   /* Height of the footer */
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:40px;   /* Height of the footer */
	padding-top: 3px;
	background: #e0e0e0;
}

/*INICIO*/
.row {
    margin: 0px 0px 0px 0px;
}

#img-bitcoin{
	width: 20%;
	height: 40%;
}

#terms-policy{
	font-size: 10pt;
	list-style: none;
	text-align: right
}

#terms-policy li{
	display: inline-block;
}

@font-face {
   font-family: customfont;
   src: url(../fonts/Rounded_Elegance.ttf);
}

.letras-betcnow{
	font-family: customfont;
		
}

h1.subtitulos, h2.subtitulos{
    font-family: 'customfont', cursive;
    font-size: 50px;
    color: #4F8ED8;
}

h3.subtitulos{
    font-family: 'customfont', cursive;
    font-size: 35px;
    color: #4F8ED8;
}

#h1-betcnow{
	font-size: 28pt; 
	display: inline-block;
}

.navbar-default .container-fluid .row{
background: #fff;
}

/*Propiedades del botón de SignUp*/

.linea1 ul li a:hover{
  background: #fff;
}

.linea1 ul li a{
padding: 20px 5px 0px 0px;	
}
.linea1 ul{
  padding: 0px 11px 0px 0px;
    margin: 0px 0px 0px 0px;
}
.linea1 ul li a button{
  color:#fff;
  background: #4F8EDB;
	
}

#botones-login{
	padding-top: 3px;
	 padding-right: 0px
}

#wrapper-botones-login{
	padding-right: 18px; 
	display: inline-block
}

/*Propiedades del botón de LogIn*/

.A{
	background: #fff;
	color:#4F8EDB;
	width: 90px;
	padding-left: 5px;
}

.M{
	width: 90px;
	padding-left: 5px;
}
/*Propiedades del menu*/

.navbar-default{
  background: #4F8ED8;
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
	z-index: 1000;	
}

.navbar-collapse .navbar-nav li a:hover{
  color:#4F8EDB;
  background: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar-collapse .navbar-nav li a{
  color:#fff;
	border-right: solid 1px #467dbe;
	-webkit-transition: 0.3s;
	transition: 0.3s;

}

.navbar-default .container-fluid .navbar-header button {
  background: #fff;
}

#section-features{
	background-color: #5cb85c;
	min-height: 90vh;
}

/*Botón PLAY NOW*/

#B{
  background: #5cb85c;
	border-left: solid 2px #52a352;
	border-right: solid 1px #52a352;
	width: 185px;
	font-weight: bolder;	
	font-size: 20pt;
	color: #fff;
	letter-spacing: 2px;
	padding: 10px 0px 13px 0px;
}
#play-now{
	color: #fff;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;	
}

@media screen and (min-width: 800px){
	#B:hover #play-now{	
		-webkit-transform: scale(1.3);
		-ms-transform: scale(1.3);
		transform: scale(1.3);
		color: #fff;
		-webkit-transition: all .5s;
		-moz-transition: all .5s;
		transition: all .5s;	
	}
}

.listas-check{
	list-style-image: url('../img/double-checking-32.png');
	padding-left: 60px;
}
#titulo-promotional{
	font-size: 30px;
	word-spacing: 15px;
	margin-top: 30px;
	margin-bottom: -10px;
	padding-bottom: 0px;
}
.listas-check li{
	font-size: 25px;
	padding: 15px 0px 0px 10px;
}
.listas-check li p{
	font-size: 14px !important;
	padding-left: 6px;
}


.carousel-inner .active .img-corousel{
	width: 100%;	
}
#myCarousel{
	z-index: 2000;
}
.carousel-control{
  width:15px;  
	opacity: 1000;
}


/* Indicators list style */
 .article-slide .carousel-indicators {
    bottom: -5px;
    left: 35%;
    margin-left: 5px;
    width: inherit;
}
/* Indicators list style */
.article-slide .carousel-indicators li {
    border: medium none;
    border-radius: 0;
    float: left;
    height: 50px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 5px !important;
    margin-top: 0;
    width: 100px;
}
/* Indicators images style */
 .article-slide .carousel-indicators img {
    border: 2px solid #FFFFFF;
    float: left;
    height: 50px;
    left: 0;
    width: 100px;	 
    opacity: 0.7;
}
.article-slide .carousel-indicators img:hover {
    transform: scale(1.1);
	transition: 0.2s linear;
}

.carousel-indicators .active img {
    border: 3px solid #e0c016;
}



#titulo-seccion-verde{
	z-index: 300;
	position: relative;
	background: #fff;
}
#row-verde-medio{
	padding-top: 20px;
	padding-bottom: 20px;
}

.en-pantalla{	
	animation: izq-der 2s;
	position: relative;
}
.en-pantalla-2{	
	animation: der-izq 2s;
	position: relative;
}

@keyframes izq-der {
    0%   {left: -100px}
    100% {left: 0px}
}
@keyframes der-izq {
    0%   {right: -100px}
    100% {right: 0px}
}
@-webkit-keyframes izq-der {
    0%   {left: -100px}
    100% {left: 0px}
}
@-webkit-keyframes der-izq {
    0%   {right: -100px}
    100% {right: 0px}
}

.imagenes-botones-final{
	z-index: 0
}
.texto-botones-final{
	z-index: 1; 
	margin-top: -20px;
}
.columna-botones-final{
	background: #51a351;
	transition: 0.5s;
}
.columna-botones-final:hover{
	background: #5cb85c;
	transition: 0.5s;
}
/*FIN DE INICIO*/
.caja-login{
	background: rgba(79, 142, 216, 0.47);
	width: 40%;
	height: 70%;
	border: solid 2px rgba(195, 195, 195, 0.56);
	border-radius: 8px;
	padding-bottom: 20px;
	margin-top: 20px;
}

.caja-signup{
	background: #f8f8f8;
	width: 40%;
	height: 70%;
	border: solid 2px #f4f1f1;
	border-radius: 8px;
	padding-bottom: 20px;
	margin-top: 20px;
}
.caja-signup label{
	color: #4074b2;
}
.help-inline{
	color: #d80c0c;
}
.alert-error{
	color: #d80c0c;
	font-weight: bold;
}
.alert-error > ul > li{
	display: block;
}


/*ABOUT*/

.about button{
background: #4F8ED8;
color:#fff;
}

.about button:hover{
color: #4F8ED8;
background:#fff;
}

#C{
color: #4F8ED8;
font-style: bold;
}

.textos-explicativos{
    text-align: justify;
	/*
	background: #5cb85c;
	color: #fff;*/
}

.azulmodal{
	background: #4F8ED8;
	color: #fff;
}
/*FIN DE ABOUT*/


/*Login*/

.saludo li h2{
    color: #fff;
}

#D{
  background: #4F8ED8;
  color:#fff;
}

#E{
  background: #fff;
  color: #4F8ED8;
}


.panel-group .row ul li{
  list-style: none;
}
.box {

  width: 100%;
  height: 300px;
  margin: 0 auto;
  background:  linear-gradient(to bottom, #0066ff 0%, #6699ff 102%);
  border:3px solid;
  border-radius: 30px;
  color: #fff;
}


.info-user{  
	text-align: justify;	
  	font-size: 20px;
    padding: 0px 50px 0px 0px;
}

.identificador-info{
	color: #c7d9ed;	
}
.info-user li{
    text-align: left;   
    position: relative;
    left: -40px;
}
.imagen-medalla{
  margin: 30px 0px 0px 0px;

}

.imagen-medalla img{
  
 width: 150px;
  display: block;
  border-radius: 50%;
  position: relative;
  bottom: 30px;
}
.caja-botones{
  padding: 0;
  margin right: 10px;
}

.botones-redondos{
  background: #4da6ff;
  padding: 10px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  text-align: center;
  width: 100px; 
  line-height: 70px;
  border-radius: 50%;
  box-shadow: 1px 3px 1px #fff;
  cursor: pointer;
}

.botones-redondos span{
    color:#fff;
    font-size: 50px;
    position: center;   
    top: 8px;
    left: 2px;
}

.box-links{
    color: lawngreen;
    font-size: 18px;
}

.botones-redondos:hover{
  background: #80bfff;
  box-shadow: 0px 0px 0px;
  padding-top: 7px; 
}

.botones-myaccount-group{
    padding: 0px 0px 0px 0px;
}

.botones-myaccount{
    width: 150px;
    background: #4F8ED8;
}

h2.puntos-BTCrace{
	display: inline;
}
h4.puntos-BTCrace{
	display: inline;
}
.renglon-plays{
	padding-left: 35px;
}

/*FIN DE LOGIN*/

/*TESTIMONIOS*/
.caja-testimonios{
    background: #4F8ED8;
    padding: 20px 20px 20px 20px;
    overflow: auto;
    height : 500px;
    border-radius: 8px;
    box-shadow: 3px 3px 3px grey;
}

/*RESULTS*/
.renglon-resultados{
    margin-top: 30px;
}
.caja-resultados{
    background: #4F8ED8;
    color: #fff;
    padding: 0px 20px 20px 20px;
    height : 500px;
    border-radius: 8px;
    box-shadow: 3px 3px 3px grey;
    
}

.links-resultados{
	color: #fff;
	text-decoration: none;
}
.links-resultados:hover{
	color: #80bfff;
	text-decoration: none;
	
}

.hr-pava{
    height: 2px;
    border: 0;
    box-shadow: 0 5px 5px -5px #fff inset;
    margin-top: 0px;
}

.hr-pava2{
    height: 2px;
    border: 0;
    box-shadow: 0 5px 5px -5px #4F8ED8 inset;
    
}

.ranking{
	height : 500px;
    border-radius: 8px;
    box-shadow: 3px 3px 3px grey;	
    border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #4F8ED8;
}
.podio{
	margin-top: 50px;
}
.nombres-podio{
	background: #fff; 
	margin: 0px -15px 0px -15px;
	font-size: 12pt;
	font-weight: bold;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.primerlugar{
	background: #4F8ED8;
	height: 240px;
	border-left: 2px solid #fff;
	border-right: 2px solid #fff;
}
.segundolugar{
	background: #4F8ED8;
	height: 183px;
	margin-top: 57px;	
}
.tercerlugar{
	background: #4F8ED8;
	height: 145px;
	margin-top: 95px;
}
.numeros-podio{
	color: #fff;
	font-size: 35px;
	margin-top: 0px;
}
.resultado-podio{	
	margin-top: -10px;
}
.letras-podio{	
	color: #fff;
	font-family: customfont, cursive;
	font-size: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}




/* Matriz de pago */

/*matriz*/
.btn-matrix > .btn:nth-child(10n+1) {
  clear: left;
  margin-left: 0;
}
.btn-matrix > .btn:nth-child(n) {
  margin-top: 1px;
}
.btn-matrix > .btn:first-child {
  border-bottom-left-radius: 0;
}
.btn-matrix > .btn:nth-child(10) {
  border-top-right-radius: 4px !important;
} 
.btn-matrix > .btn:nth-last-child(10) {
  border-bottom-left-radius: 4px !important;
}
.btn-matrix > .btn:last-child {
  border-top-right-radius: 0;
}

.custom {
    width: 10% !important;
}
#matriz{
	width: 100%;
}

@media screen and (min-width: 801px){
	#matriz{
		width: 90%;
	}
}

@media all and (min-width: 801px) and (max-width: 990px){	
	#matriz input{
		padding-left: 5px !important;
	}
}

/* Decorations */
.btn-matrix {
  margin: 20px 20px 20px 0px;
}

.tabla{
    padding: 0;
 	margin: 20px 0px 0px 20px;
}

#wrapper-tabla_jugadas{
	margin-top: 10px;
}

.columna-palanca-random{
	height: 100%;
}

.row-random{
	height: 65px;
}		

.columnaMatriz{
    
    padding: 0px 0px 20px 0px;
    margin: 0px 0px 0px 20px;
}

.botones-centena{
    padding: 0px 0px 0px 0px;
}

.renglon-betcpot{
    padding: 10px 0px 0px 0px;
}

#timer{
	margin-top: 40px;
	margin-bottom: 60px;
}

#delete_span{
    color:#d9534f;
}

#submit_jugada{
    font-weight:bold;
}

.change-password{
    padding: 15px 0px 0px 0px;
    
}

.submit-color-betcnow{
    background: #4F8ED8;
    
}

.color-azul-betcnow{
    color: #4F8ED8;
}

.color-verde-betcnow{
    color: #5cb85c !important;
}





/* Palanquita */


.lever {	
	width: 40px;
	position:relative;
	left:70px;
	top:-68px;
	cursor: pointer;
}
.ball {
	transition: 0.2s;
	width:15px;
	height:15px;
	border-radius:50%;
	background-image: -webkit-radial-gradient(30% 40%, rgb(255,0,0), rgb(0,0,0));
	background-image: -moz-radial-gradient(30% 40%, rgb(255,0,0), rgb(0,0,0));
	background-image: -ms-radial-gradient(30% 40%, rgb(255,0,0), rgb(0,0,0));
	background-image: -o-radial-gradient(30% 40%, rgb(255,0,0), rgb(0,0,0));
	background-image: radial-gradient(circle at 30% 40%, rgb(255,0,0), rgb(0,0,0));
	position:relative;
	z-index:0;
	top:0px;
	margin-left:13px;
}
.stem {
	transition: 0.2s;
	position: relative;
	width:5px;
	height:30px;
	margin-left:18px;
}
.stem, .cogs b {
	border-left:1px solid #919191;
	border-left:1px solid #919191;
	background: rgb(113,113,113); /* Old browsers */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzcxNzE3MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM5JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU3JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3MTcxNzEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left, rgba(113,113,113,1) 0%, rgba(255,255,255,1) 39%, rgba(255,255,255,1) 57%, rgba(113,113,113,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(113,113,113,1)), color-stop(39%, rgba(255,255,255,1)), color-stop(57%, rgba(255,255,255,1)), color-stop(100%, rgba(113,113,113,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(113,113,113,1) 0%, rgba(255,255,255,1) 39%, rgba(255,255,255,1) 57%, rgba(113,113,113,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(113,113,113,1) 0%, rgba(255,255,255,1) 39%, rgba(255,255,255,1) 57%, rgba(113,113,113,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(113,113,113,1) 0%, rgba(255,255,255,1) 39%, rgba(255,255,255,1) 57%, rgba(113,113,113,1) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(113,113,113,1) 0%, rgba(255,255,255,1) 39%, rgba(255,255,255,1) 57%, rgba(113,113,113,1) 100%); /* W3C */
}
.cog1, .cog2 {
	float:left;
	width:8px;
	height:18px;
	border:1px solid #757575;
	background: rgb(113,113,113); /* Old browsers */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzcxNzE3MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM5JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU3JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3MTcxNzEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(113,113,113,1) 0%, rgba(255,255,255,1) 39%, rgba(255,255,255,1) 57%, rgba(113,113,113,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(113,113,113,1)), color-stop(39%, rgba(255,255,255,1)), color-stop(57%, rgba(255,255,255,1)), color-stop(100%, rgba(113,113,113,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(113,113,113,1) 0%, rgba(255,255,255,1) 39%, rgba(255,255,255,1) 57%, rgba(113,113,113,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(113,113,113,1) 0%, rgba(255,255,255,1) 39%, rgba(255,255,255,1) 57%, rgba(113,113,113,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(113,113,113,1) 0%, rgba(255,255,255,1) 39%, rgba(255,255,255,1) 57%, rgba(113,113,113,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(113,113,113,1) 0%, rgba(255,255,255,1) 39%, rgba(255,255,255,1) 57%, rgba(113,113,113,1) 100%); /* W3C */
	margin: -3px 0 0 8px;
}
.cog2 {
	width:8px;
	height:10px;
	margin:0;
}

@media all and (min-width: 801px) and (max-width: 825px){	
	.columna-palanca-random{
		margin-left: -10px;
	}
	.cog2{
		position: absolute;
		left: 15px;
		
	}

}

/* Fin palanquita */








/* entypo */

#sticky-social{
	position: fixed;
	left: -40px;
	top: 200px;
	z-index: 10;
}
#sticky-social ul{
	list-style: none;
}
#sticky-social ul li a{
	display: inline-block;
	color: #fff;
	background: #000;
	padding: 10px 8px;
	text-decoration: none;
	width: 30px;	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all 0.5s;
}
#sticky-social ul li .icon-facebook2{
	border-top-right-radius: 4px; 
}
#sticky-social ul li .icon-instagram{
	border-bottom-right-radius: 4px; 
}

#sticky-social ul li .icon-facebook2{
	background: #3b5998;
}
#sticky-social ul li .icon-twitter{
	background: #00abf0;
}
#sticky-social ul li .icon-google-plus2{
	background: #d95232;
}
#sticky-social ul li .icon-instagram{
	background: #3f729b;
}
#sticky-social ul li a:hover{
	padding: 10px 30px;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	transition: all 0.2s;
	
}


/* Propiedades panatalla pequeña*/

@media screen and (max-width: 800px){	
	#h1-betcnow{
		margin-top: -10px;
		z-index: 100;
		
	}
	#signo-int{
		margin-top: -10px;
		z-index: 200;
	}
	
	.caja-signup{
		background: #f8f8f8;
		width: 80%;
		height: 70%;
		border: solid 2px #f4f1f1;
		border-radius: 8px;
		padding-bottom: 20px;
		margin-top: 20px;
	}
	.caja-login{
		width: 90%;
		padding-left: 1px;
	}

	#header{
		margin-top: 0px;
	}
	#footer {
		position: relative;
		height: 105px !important;
	}
	#B{
		width: 100% !important;
	}
	#wrapper-botones-login{
		display: grid;
		
	}
	#section-features{
		min-height: 100%;
	}
	
    .row {
    margin: 0px 0px 0px 0px;
    }
	
	.carousel-indicators{
		display: none;
	}	
	
	.box {
		height: 340px !important;
	}
	.div-logo{
		padding-top: 20px;
	}
    
      .btn-group-lg .ad{
        display: none;
      }
      
      .linea1 ul li a{
    padding: 10px 5px 0px 0px;
    }
	.navbar-default{
		padding-left: 0px;
		
	}
	.navbar-collapse .navbar-nav li a{
  		color:#fff;
		margin-bottom: -8px;

	}

    .saludo{
        padding: 0;
        margin: 0;
    }
    .saludo li h2{
      font-size: 30px;
        margin: 15px 0px 0px -38px;
    }
    .row .info-user{
        font-size: 16px;
        padding: 20px 0px 0px 0px;
    }
    
    .letras-pequeñas{
        font-size: 12px !important;
    }

    .row .imagen-medalla{
      display: none;
    }
    
    .row .fondo-botones-redondos{
        padding: 15px 0px 0px 30px;
    }
    
    .row .botones-redondos{
          padding: 10px 0px 0px 0px;
          margin: 0px 0px 0px 0px;
          text-align: center;
          width: 55px; 
          line-height: 40px;
          border-radius: 50%;
          box-shadow: 1px 3px 1px #fff;
          cursor: pointer;
    }

    .row .botones-redondos span{
        color:#fff;
        font-size: 35px;
        position: center;   
        top: 4px;
        left: 1px;
    }    
    
    .row .boton-jugadas h3, .boton-referidos h3, .boton-trofeos h3{
        font-size: 15px;        
    }
    
    .caja-nombres-botones{
        margin: -10px 0px 0px 0px;
    }
    
    .botones-myaccount-group{
    padding: 0px 0px 0px 95px !important;    
    }
    
    #boton-change_wallet{
        margin: 7px 0px 7px 0px;
    }	
	
	/* resultados */
	.numeros-podio{	
		font-size: 25px !important;	
	}
	
	.letras-podio{	
		font-size: 20px !important;
	}
	#letras-tercero{
		font-size: 14px !important;
	}
	
	
	#resultado-primer{
		margin-top: 40px !important;
	}

	#resultado-segundo{
		margin-top: 30px !important;
	}


    
    
    /* Matriz de pago pantalla pequeña*/

    /*matriz*/
    .btn-matrix{
        margin: 0px 0px 0px 0px;
    }
    .btn-matrix > .btn:nth-child(5n+1) {
      clear: left;
      margin-left: 0;
    }
    .btn-matrix > .btn:nth-child(n) {
      margin-top: 1px;
    }
    .btn-matrix > .btn:first-child {
      border-bottom-left-radius: 0;
    }
    .btn-matrix > .btn:nth-child(5) {
      border-top-right-radius: 4px !important;
    }
    .btn-matrix > .btn:nth-last-child(5) {
      border-bottom-left-radius: 4px !important;
    }
    .btn-matrix > .btn:last-child {
      border-top-right-radius: 0;
    }

    .custom {
        width: 60px !important;
    }
    
    .columnaMatriz{     
		padding-left: 10px;
		margin: 0;
		width: 100%;
	}
	
	#wrapper-tabla_jugadas{
		width: 315px;
		margin-left: 5px;
		margin-top: 0px;
	}

    .tabla{		
        margin: 0;
		padding-top: 20px; 		
    }
    
    .botones-centena{
        margin: 10px 0px 0px 30px;
        width: 260px;
    }
    
    .cientos{
        width: 45px;
    }
	
	.row-random{
		margin-top: 18px;		
	}
	.columna-palanca-random{
		padding-left: 0;
	}
	
	.renglon-betcpot{
		position: relative;
		display: inline-block;
		width: 320px;	
		left: 50%;
		margin-left: -160px;
		
	}
	.container-betcpot{
		padding: 0;
		margin: 0;
	}
}



/* Propiedades pantalla mediana */

@media all and (min-width: 801px) and (max-width: 1199px){
	#footer{
		position: relative !important;
		
	}
	
	.columnaMatriz{
		padding-left: 0px;
		padding-right: 0px;
		margin-left: 0px;
		
	}
	.tabla{
		padding-left: 0px;
		margin-left: -35px;
		z-index: 1;
		
	}
}


/*

	Codigo usado en el Countdown

*/
.letr{
	color:#fff;
    font-family: sans-serif;
	width: 60%;
	text-align: justify;
	font-size: 12pt;
    }
#bottom-section{
	background: #4F8ED8;
}
.iconos-countdown{
	opacity: 0.3;
	transition: 1s;
}
.iconos-countdown-claros{
	opacity: 1;
	transition: 2s;
}

#nota-bottom{
	color:#fff;
    font-family: 'Baloo Bhaina', cursive;		
	font-size: 24pt;
}
.row-margin{
	margin-top: 100px;
	padding-bottom: 40px;
}
#top-spacing{
}

.arrowDown{
	cursor: pointer;
	height: 60px;
	width: 60px;
}
#div-flecha-blanca{
	position: fixed;
	z-index: 1;
	left: 50%;
	bottom: -615px;
}
.div-pushdown{
	position: absolute;
	bottom: 5%;
	width: 85%;	
}

.cuadritos{
	border-top: solid 2px #4F8ED8;
	border-bottom: solid 2px #4F8ED8;	
}
.identificadores-numeros{
	background: #4F8ED8;
	color: #fff;
	font-family: 'Orbitron', sans-serif;
	font-size: 12px;	
}

#hours{
	border-left: solid 2px #4F8ED8;
	border-top-left-radius: 3.5px;
}

#seconds{
	border-right: solid 2px #4F8ED8;
	border-top-right-radius: 3.5px;
}

#minutes{
	border-left: solid 1.5px #4F8ED8;
	border-right: solid 1.5px #4F8ED8;
}
#id-hours{
	border-bottom-left-radius: 3.5px;
}
#id-seconds{
	border-bottom-right-radius: 3.5px;
}

.numeros-conteo{
	font-family: 'Orbitron', sans-serif;
}
.reloj{
	margin-top: 15px;
}
#caja-identificadores{
	margin-top: 0px;
}


@media screen and (max-width: 800px){
	
	.mobile-full{
		width: 100%;
		min-height: 100vh;
	
	}
	
	.numeros-conteo{
		font-size: 20px;
	
	}
	.reloj{
		width: 100%;
	}
	
	.div-pushdown{		
		width: 95%;	
	}
	
	#caja-signup{		
		width: 80%;
		height: 80%;
		
	}
	#div-flecha-blanca{
		position: relative;
		bottom: 0px;
		left: 0px;
		
	}
	
}

@media all and (min-width: 801px) and (max-width: 1199px){
		#titulo-section-middle{
			font-size: 16pt !important;
		}
	.iconos-countdown{
		width: 50px;
		height: 50px;
	}
	.letr{
		font-size: 10pt;
		
	}
	.icono-letra{
		margin-top: -20px;
	}
	.del-countdown{
		font-size: 14pt !important;
	}
	#caja-signup{
		height: 85%;
	}
	#div-flecha-blanca{
		position: fixed;
		z-index: 1;
		left: 50%;
		bottom: -465px;
	}	
	
	
}
