body{
  background: #fff;
  width: 100%;
  padding: 0;
  margin: 0;
    color: darkslategray;

}

/*INICIO*/

.row {
    margin: 0px 0px 0px 0px;
}
.subtitulos{
    font-family: 'Lobster', cursive;
    font-size: 50px;
    color: #4F8ED8;
}

.footer{
    bottom: 0px;
    position: relative;
    width: 100%;
    height: 40px;
}

.navbar-default .container-fluid .row{
background: #fff;
}

/*Propiedades del botón de SignUp*/

.linea1 ul li a:hover{
  background: #fff;
}

.linea1 ul li a{
padding: 20px 5px 0px 0px;
}
.linea1 ul{
  padding: 0px 11px 0px 0px;
    margin: 0px 0px 0px 0px;
}
.linea1 ul li a button{
  color:#fff;
  background: #4F8EDB;
}

/*Propiedades del botón de LogIn*/

  #A{
  background: #fff;
  color:#4F8EDB;
}
/*Propiedades del menu*/

.navbar-default{
  background: #4F8ED8;
  width: 100%;
  margin: 0px 0px -20px 0px;
  padding: 0;
}

.navbar-collapse .navbar-nav li a:hover{
  color:#4F8EDB;
  background: #fff;
}

.navbar-collapse .navbar-nav li a{
  color:#fff;

}

.navbar-default .container-fluid .navbar-header button {
  background: #fff;
}

.navbar-collapse .navbar-nav li{
  border-bottom: 1px solid rgba(255,255,255,.5);
}

/*Propiedades de la pantalla pequeña*/

@media screen and (max-width: 800px){
    
    .row {
    margin: 0px 0px 0px 0px;
    }
    
      .btn-group-lg .ad{
        display: none;
      }
      
      .linea1 ul li a{
    padding: 10px 5px 0px 0px;
    }
    .saludo{
        padding: 0;
        margin: 0;
    }
    .saludo li h2{
      font-size: 30px;
        margin: 15px 0px 0px -38px;
    }
    .row .info-user{
        font-size: 16px;
        padding: 20px 0px 0px 0px;
    }

    .row .imagen-medalla{
      display: none;
    }
    
    .row .fondo-botones-redondos{
        padding: 15px 0px 0px 30px;
    }
    
    .row .botones-redondos{
          padding: 10px 0px 0px 0px;
          margin: 0px 0px 0px 0px;
          text-align: center;
          width: 55px; 
          line-height: 40px;
          border-radius: 50%;
          box-shadow: 1px 3px 1px #fff;
          cursor: pointer;
    }

    .row .botones-redondos span{
        color:#fff;
        font-size: 35px;
        position: center;   
        top: 4px;
        left: 1px;
    }    
    
    .row .boton-jugadas h3, .boton-referidos h3, .boton-trofeos h3{
        font-size: 15px;        
    }
    
    .caja-nombres-botones{
        margin: -10px 0px 0px 0px;
    }
    
    .botones-myaccount-group{
    padding: 0px 0px 0px 95px !important;    
    }
    
    #boton-change_wallet{
        margin: 7px 0px 7px 0px;
    }



    .tabla{
        width: 70%;
        margin: 0px 0px 0px 50px;
    }
    
    .botones-centena{
        padding: 0px 0px 0px 40px !important;
        width: 80% !important;
    }
    
    .cientos{
        width: 45px;
    }

    .carousel-inner .active .img-corousel{
        height: 400px;
    }
    
    
    /* Matriz de pago pantalla pequeña*/

    /*matriz*/
    .btn-matrix{
        margin: 0px 0px 0px 0px;
    }
    .btn-matrix > .btn:nth-child(5n+1) {
      clear: left;
      margin-left: 0;
    }
    .btn-matrix > .btn:nth-child(n) {
      margin-top: 1px;
    }
    .btn-matrix > .btn:first-child {
      border-bottom-left-radius: 0;
    }
    .btn-matrix > .btn:nth-child(5) {
      border-top-right-radius: 4px !important;
    }
    .btn-matrix > .btn:nth-last-child(5) {
      border-bottom-left-radius: 4px !important;
    }
    .btn-matrix > .btn:last-child {
      border-top-right-radius: 0;
    }

    .custom {
        width: 60px !important;
    }
    
    .columnaMatriz{       
    padding: 0px 0px 0px 0px !important;     
    margin: 0px 0px 0px 20px !important;
}

    
    
}

/*Botón PLAY NOW*/

#B{
  background: #5cb85c;
}

#B:hover{
  color:#fff;
}

/*Botones de abajo*/

.btn-group .btn-primary{
  background:#4F8ED8;

}
.btn-group .df{
  background: #5cb85c;
}   
/*FIN DE INICIO*/

/*DETALLES*/

.about button{
background: #4F8ED8;
color:#fff;
}

.about button:hover{
color: #4F8ED8;
background:#fff;
}

#C{
color: #4F8ED8;
font-style: bold;
}

.textos-explicativos{
    text-align: justify;
}

/*FIN DE DETALLES*/


/*Login*/

.saludo li h2{
    color: #fff;
}

#D{
  background: #4F8ED8;
  color:#fff;
}

#E{
  background: #fff;
  color: #4F8ED8;
}


.panel-group .row ul li{
  list-style: none;
}
.box {

  width: 100%;
  height: 300px;
  margin: 0 auto;
  background:  linear-gradient(to bottom, #0066ff 0%, #6699ff 102%);
  border:3px solid;
  border-radius: 30px;
  color: #fff;
}


.info-user{  
  font-size: 20px;
    padding: 0px 50px 0px 0px;
}
.info-user li{
    text-align: left;   
    position: relative;
    left: -40px;
}
/*.boton-jugadas h3, .boton-trofeos h3{
    padding: 0px 0px 0px 20px;
        
}
.boton-referidos h3{
    padding: 0px 0px 0px 5px;
}*/

.imagen-medalla{
  margin: 30px 0px 0px 0px;

}

.imagen-medalla img{
  
 width: 150px;
  display: block;
  border-radius: 50%;
  position: relative;
  bottom: 30px;
}
.caja-botones{
  padding: 0;
  margin right: 10px;
}

.botones-redondos{
  background: #4da6ff;
  padding: 10px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  text-align: center;
  width: 100px; 
  line-height: 70px;
  border-radius: 50%;
  box-shadow: 1px 3px 1px #fff;
  cursor: pointer;
}

.botones-redondos span{
    color:#fff;
    font-size: 50px;
    position: center;   
    top: 8px;
    left: 2px;
}

#upgrade-link{
    color: lawngreen;
    font-size: 18px;
}

.botones-redondos:hover{
  background: #80bfff;
  box-shadow: 0px 0px 0px;
  padding-top: 7px; 
}

.botones-myaccount-group{
    padding: 0px 0px 0px 0px;
}

.botones-myaccount{
    width: 150px;
    background: #4F8ED8;
}

/*FIN DE LOGIN*/

/*TESTIMONIOS*/
.caja-testimonios{
    background: #4F8ED8;
    padding: 20px 20px 20px 20px;
    overflow: auto;
    height : 500px;
    border-radius: 8px;
    box-shadow: 3px 3px 3px grey;
}


/* Matriz de pago */

/*matriz*/
.btn-matrix > .btn:nth-child(10n+1) {
  clear: left;
  margin-left: 0;
}
.btn-matrix > .btn:nth-child(n) {
  margin-top: 1px;
}
.btn-matrix > .btn:first-child {
  border-bottom-left-radius: 0;
}
.btn-matrix > .btn:nth-child(10) {
  border-top-right-radius: 4px !important;
} 
.btn-matrix > .btn:nth-last-child(10) {
  border-bottom-left-radius: 4px !important;
}
.btn-matrix > .btn:last-child {
  border-top-right-radius: 0;
}

.custom {
    width: 60px !important;
}

/* Decorations */
.btn-matrix {
  margin: 20px;
}

.tabla{
    padding: 20px 0px 0px 0px;
 
}

.columnaMatriz{
    
    padding: 0px 0px 0px 20px;
    margin: 0px 0px 100px 50px;
}

.botones-centena{
    padding: 0px 0px 0px 50px;
}

.renglon-betcpot{
    padding: 10px 0px 0px 0px;
}

#delete_span{
    color:#d9534f;
}

#submit_jugada{
    font-weight:bold;
}

.change-password{
    padding: 15px 0px 0px 0px;
    
}

.submit-color-betcnow{
    background: #4F8ED8;
    
}

.color-azul-betcnow{
    color: #4F8ED8;
}

.color-verde-betcnow{
    color: #5cb85c;
}