@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina');

.letr{
	color:#fff;
    font-family: 'Baloo Bhaina', cursive;
	width: 60%;
	text-align: justify;
	font-size: 12pt;
    }
#bottom-section{
	background: #4F8ED8;
}
.iconos-countdown{
	opacity: 0.3;
	transition: 1s;
}
.iconos-countdown-claros{
	opacity: 1;
	transition: 2s;
}
#icono-candado{
	width: 50px;  
	margin-top: 8px;
}

#nota-bottom{
	color:#fff;
    font-family: 'Baloo Bhaina', cursive;		
	font-size: 24pt;
}
.row-margin{
	margin-top: 100px;
	padding-bottom: 40px;
}
#top-spacing{
}
/* .peque{

width: 150px; height: 100px;

margin: 0;
padding: 0;
border-radius: 800px;
overflow: hidden;
} */

.arrowDown{
	cursor: pointer;
	height: 60px;
	width: 60px;
}
#div-flecha-blanca{
	position: fixed;
	z-index: 1;
	left: 50%;
	bottom: -615px;
}
.div-pushdown{
	position: absolute;
	bottom: 5%;
	width: 85%;	
}

#reloj{
	font-size: 60px;
}

.cuadritos{
	border-top: solid 3px #4F8ED8;
	border-bottom: solid 3px #4F8ED8;	
}
.identificadores-numeros{
	background: #4F8ED8;
	color: #fff;
	font-family: 'Orbitron', sans-serif;
}

#days{
	border-left: solid 3px #4F8ED8;
	border-right: solid 2px #4F8ED8;
	border-top-left-radius: 5px;
}

#seconds{
	border-right: solid 3px #4F8ED8;
	border-top-right-radius: 5px;
}
#reloj{
	font-size: 35px;
}

#minutes{
	border-left: solid 2px #4F8ED8;
	border-right: solid 2px #4F8ED8;
}
#id-days{
	border-bottom-left-radius: 5px;
}
#id-seconds{
	border-bottom-right-radius: 5px;
}

.numeros-conteo{
	font-family: 'Orbitron', sans-serif;
}
.reloj{
	margin-top: 50px;
	width: 35%;
}
#caja-identificadores{
	margin-top: 0px;
}


@media screen and (max-width: 800px){
	
	.mobile-full{
		width: 100%;
		min-height: 100vh;
	
	}
	.identificadores-numeros{
		font-size: 10px;
	}
	
	.numeros-conteo{
		font-size: 20px;
	
	}
	.reloj{
		width: 100%;
	}
	
	.div-pushdown{		
		width: 95%;	
	}
	
	#caja-signup{		
		width: 80%;
		height: 80%;
		
	}
	#div-flecha-blanca{
		position: relative;
		bottom: 0px;
		left: 0px;
		
	}
	
}

@media all and (min-width: 801px) and (max-width: 1199px){
		#titulo-section-middle{
			font-size: 16pt !important;
		}
	.iconos-countdown{
		width: 50px;
		height: 50px;
	}
	.letr{
		font-size: 10pt;
		
	}
	.icono-letra{
		margin-top: -20px;
	}
	.del-countdown{
		font-size: 14pt !important;
	}
	#caja-signup{
		height: 85%;
	}
	#div-flecha-blanca{
		position: fixed;
		z-index: 1;
		left: 50%;
		bottom: -465px;
	}
	#footer {
	   bottom: 10px !important;
		position: fixed;
	}
	
	
}
