{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Log in" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">    
        {% crispy form %}      
        <p>{% trans "Did you forgot your password?" %} <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>.</p>
        <p>{% trans "Not a member?" %} <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>.</p>        
    </div>
</div>    
{% endblock %}
