<!DOCTYPE html>
{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load staticfiles %}
<html>
<head>
	{% block meta_title %}Logout - BETCnow{% endblock %}
    {% block scripts %}
    <script>
        window.setTimeout(function(){
            window.location.href = "/";
        }, 5000);
    </script>
    {% endblock %}
</head>
<body>	
	

    {% block content %}
	
	    <div class="container">
		<center>
		<div class="row">
			<div class=" col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-12 col-xs-offset-0">
    			<img class="img-responsive imagen-logo" src="{% static 'betcnow/img/bn2.png' %}">
			</div>
		</div>
		<div class="row">
			<h3 class="subtitulos"><p>Successfully logged out. See you soon!</p></h3>
		</div>
			
		
		</center>
	</div>

        
    {% endblock %}
    
</body>
</html>