{% extends "registration/registration_base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}
<br>

<div class="container-fluid">
	<div class="row" style="height: 42vh">
		<center>
			<img src="{% static 'betcnow/img/bn3.png' %}" style="max-width: 200px">			
			<h1 class="subtitulos" style="font-size: 2.5em">Password reset</h1>
		</center>				
		<div class="col-xs-12 col-md-6 col-md-offset-3">
			<h4>
				Did you forget your password? Don't worry! Enter your email below and we will send you a link to your email direction and instructions to restore it.
			</h4>
			<form method="post" action="">
				{% csrf_token %}
				{{ form|crispy }}
				<br>
				<input class="btn btn-default pull-right" type="submit" value="Restore password" />
			</form>
		</div>		
	</div>
</div>
<br>

{% endblock %}


{# This is used by django.contrib.auth #}
