{% extends "registration/registration_base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}
<br>

<div class="container-fluid">
	<div class="row" style="height: 42vh">
		<center>
			<img src="{% static 'betcnow/img/bn3.png' %}" style="max-width: 200px">			
			<h1 class="subtitulos" style="font-size: 2.5em">Your password has been reset!</h1>
		</center>								
	</div>
	<div class="row">
		<center>
			<a href="{% url 'login' %}" class="btn btn-success">Log in</a>			
		</center>		
	</div>
</div>
<br>
{% endblock %}


{# This is used by django.contrib.auth #}