{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block scripts %}
    <script>
        window.onload = function(){                        
            if ((document.getElementById('id_sponsor_name').value != 'betcnow') && !document.getElementById('error_1_id_sponsor_name')){
                document.getElementById('edit-sponsor').style.display = 'none';            
            }
            document.getElementById('id_sponsor_name').readOnly = true;            
        }
    </script>

    <script>
        function disabled_false(){            
            document.getElementById('id_sponsor_name').readOnly = false;
            
        }
    </script>    
{% endblock %}



{% block title %}<h1 class="subtitulos">Join Betcnow</h1>{% endblock %}

{% block content %}
<div class="container caja-signup">
		<div class="row">
			<center><h3 class="subtitulos del-countdown" style="font-size: 16pt">Create an account</h3></center>
		</div>
		<div class = "row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				{% crispy form %}
			</div>
		 </div>
	  </div>
{% endblock %}