{% extends 'base.html' %}
{% load staticfiles %}
{% block meta_title %}About - BETCnow{% endblock %}
{% block title %}<h1 class="subtitulos">Info board</h1>{% endblock%}
{% block fb_event %}
	<script>
	fbq('track', 'ViewContent');
	</script>
{% endblock %}
{% block content %}
<!-- AQUI VA EL CUERPO -->

<div class="container about">    
<!-- boton introduccion -->
    <center><button type="button" class="btn btn-info btn-lg btn-block" data-toggle="modal" data-target="#myModal">What is Betcnow?</button></center>
<!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header azulmodal">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <center><h4 class="modal-title">What is Betcnow?</h4></center>
                </div>
                <div class="modal-body">
                    <div class="modal-body">
                    	<p align="justify">Betcnow is a low-cost bitcoin gambling website which consists in a lottery system called Betcpot where you can multiply up to 255 times your bet, get passive income through a referral system and participate for a big prize in BTC every month.</p>
                	</div>
                </div>
                <div class="modal-footer">
                  <center><button  type="button" class="btn btn-default" data-dismiss="modal">Close</button></center>  
                </div>
            </div>
        </div>
    </div>

	<!-- boton como funciona -->

    <center><button type="button" class="btn btn-info btn-lg btn-block" data-toggle="modal" data-target="#myModal2">How does it works?</button></center>
<!-- Modal -->
    <div id="myModal2" class="modal fade" role="dialog">
        <div class="modal-dialog">
    <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header azulmodal">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <center><h4 class="modal-title">How does it works?</h4></center>
                </div>
                <div class="modal-body">
                    <p align="justify">Each Betcpot has 1000 numbers for sale. At 20:00 UTC of every day, the betcpots get closed regardless of how many numbers has been sold. All draws are made considering only the numbers sold, and more than 13% of them will be awarded. Winners will be announced approximately three hours after the closing of each Betcpot.<br><br>On the other hand, Betcnow has a referral system that allows you to win the 5 or 10 percent of each of the bets made by your referrals, depending on the membership you have. <br><br>Every user will be participating for a monthly prize in BTC, based in a points system, called Bitcoin Race.
					</p>
                </div>
                <div class="modal-footer">
                    <center><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></center>
                </div>
            </div>
        </div>
    </div>
<!-- boton como jugar -->

    <center><button type="button" class="btn btn-info btn-lg btn-block" data-toggle="collapse" data-target="#mycollapse1">Steps to win</button></center>

<!-- Collapse -->
  <div id="mycollapse1" class="collapse" role="dialog">
        <div class="container">
            <div class="row" style="margin-top: 20px">
                <div class="col-lg-5 col-md-5">
                    <img class="img-responsive imagenhtp" src="{% static 'betcnow/img/steps/step1.png' %}">
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-md-5 col-md-offset-2 textos-explicativos" style="border-left: solid 2px #a6a4be">
                    <h3><span class="label label-primary">STEP 1</span> Join Betcnow</h3>
                    <p>It's very easy and fast. Enter a username, your email address and an alphanumeric password of at least 8 characters. If you are referred by another user you can click on the word "Edit" to enter his username, otherwise, betcnow will be your sponsor. After confirming your password, check your email and confirm your account by clicking on the link you receive. That's all!.</p>
                </div>
            </div>
            <hr class="hr-pava2">
            <div class="row">
                <div class="col-lg-3 col-md-4 textos-explicativos" style="border-right: solid 2px #a6a4be">
                    <h3><span class="label label-primary">STEP 2</span> Pick your favorite numbers</h3>
                    <p>For every Betcpot you can select a maximum of 8 numbers between 000 and 999, or you can type how many numbers you want to choose and click the random button to select them at random. The <span style="color:#5cb85c; font-weight: bold">green</span> color in the numbers means that it is available, the <span style="color:#e63d3d; font-weight: bold">red</span> color means that it was already bought and the <span style="color:#6098d9; font-weight: bold">blue</span> color means that it was already purchased and it was a number with an instant gift prize. After selecting your numbers, click on <span><img src="{% static 'betcnow/img/go-button.png' %}"></span> button and proceed to pay. If you want to select more than 8 numbers in the Betcpot, you must repeat the process.</p>
                </div>
                <div class="col-lg-7 col-lg-offset-1 col-md-7 col-md-offset-1">
                    <img class="img-responsive imagenhtp" src="{% static 'betcnow/img/steps/step2.png' %}">
                </div>                
            </div>      
            <hr class="hr-pava2">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <img class="img-responsive imagenhtp" src="{% static 'betcnow/img/steps/step3.png' %}">
                </div>        
                 <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 textos-explicativos" style="border-left: solid 2px #a6a4be">
                    <h3><span class="label label-primary">STEP 3</span> Pay</h3>
                    <p>On the check-out page you will see the Betcpot number you are playing in, the quantity of numbers played and the total bitcoins to be paid. Once you have confirmed this information, you must send the bitcoins to the address displayed in the payment box. You can copy and paste this address or you can simply scan the QR code with your mobile device, if you have any bicoin wallet app intalled.
					</p>
					 <br>
					 <p>
						 if you have a promotional code you can redeem it and your selection will be free.
					 </p>
                </div>        
            </div>
            <hr class="hr-pava2">
            <div class="row">
                <div class="col-lg-3 col-md-3 textos-explicativos" style="border-right: solid 2px #a6a4be">
                    <h3><span class="label label-primary">STEP 4</span> Wait for results</h3>
                    <p>A few hours after closing each Betcpot you can see the winning numbers in the "Results" page. The winners of the first three positions, the numbers they picked, and the amount won, are shown in the podium. Below it, the winners corresponding to the groups Gold, Silver, Bronze and Copper are shown indicating the winning numbers and the amount won for each group and for every one of them</p>
                </div>
                 <div class="col-lg-8 col-lg-offset-1 col-md-8 col-md-offset-1">
                  <center><img class="img-responsive imagenhtp" src="{% static 'betcnow/img/steps/step4.1.png' %}"></center>  
					 <hr class="hr-pava2">
                </div>
            </div>             
            <hr class="hr-pava2">
            
            
	  </div>
</div>

<!-- boton porcentajes -->
	
	<center><button type="button" class="btn btn-info btn-lg btn-block" data-toggle="collapse" data-target="#percentages">Betcpot percentages</button></center>
	
<!-- Collapse -->
	<div id="percentages" class="collapse" role="dialog" style="font-size: 12pt; padding-top: 20px">
		
            In Betcnow there are always winners.<br><br>
        
			When closing a betcpot, 15% of the accumulated is taken for paying to each sponsor involved in the current Betcpot and for the payment to the house.<br><br>

			The remainder of the money accumulated (85%) in each betcpot will be distributed as follows:<br><br>
			<table class="table table-responsive" style="font-size: 13.2px">				
				<tbody>					
					<tr style="background: #ccc">
						<td>
							Quantity of numbers sold
						</td>
						<td>
							2 to 3
						</td>
                        <td>
							4 to 20
						</td>
                        <td>
							21 to 30
						</td>
                        <td>
							31 to 40
						</td>
                        <td>
							41 to 50
						</td>
                        <td>
							51 to 60
						</td>
                        <td>
							61 to 70
						</td>
                        <td>
							71 to 80
						</td>
                        <td>
							81 to 90
						</td>
                        <td>
							91 to 100
						</td>
                        <td>
							101 to 110
						</td>
                        <td>
							111 to 120
						</td>
                        <td>
							121 to 134
						</td>
                        <td>
							More than 134
						</td>
					</tr>
                    <tr>
						<td>
							1st Place
						</td>
						<td>
							85%
						</td>
                        <td>
							45%
						</td>
                        <td>
							45%
						</td>
                        <td>
							40%
						</td>
                        <td>
							35%
						</td>
                        <td>
							30%
						</td>
                        <td>
							27,5%
						</td>
                        <td>
							25%
						</td>
                        <td>
							22,5%
						</td>
                        <td>
							22,5%
						</td>
                        <td>
							21,5%
						</td>
                        <td>
							20%
						</td>
                        <td>
							19%
						</td>
                        <td>
							25,5%
						</td>
                        
					</tr>
					<tr>
						<td>
							2nd Place
						</td>
						<td>
							-
						</td>
                        <td>
							40%
						</td>
                        <td>
							25%
						</td>
                        <td>
							20%
						</td>
                        <td>
							20%
						</td>
                        <td>
							20%
						</td>
                        <td>
							15%
						</td>
                        <td>
							15%
						</td>
                        <td>
							15%
						</td>
                        <td>
							15%
						</td>
                        <td>
							14%
						</td>
                        <td>
							13%
						</td>
                        <td>
							12%
						</td>
                        <td>
							12,75%
						</td>
					</tr>
					<tr>
						<td>
							3rd Place
						</td>
						<td>
							-
						</td>
                        <td>
							-
						</td>
                        <td>
							15%
						</td>
                        <td>
							15%
						</td>
                        <td>
							15%
						</td>
                        <td>
							12,5%
						</td>
                        <td>
							12,5%
						</td>
                        <td>
							12,5%
						</td>
                        <td>
							12,5%
						</td>
                        <td>
							12,5%
						</td>
                        <td>
							11,5%
						</td>
                        <td>
							11,5%
						</td>
                        <td>
							11%
						</td>
                        <td>
							6,4%
						</td>
					</tr>
                    <tr style="background: rgba(255, 215, 0, 0.28)">
						<td>
							Gold Group
						</td>
						<td>
							-
						</td>
                        <td>
							-
						</td>
                        <td>
							-
						</td>
                        <td>
							10%
						</td>
                        <td>
							10%
						</td>
                        <td>
							10%
						</td>
                        <td>
							10%
						</td>
                        <td>
							10%
						</td>
                        <td>
							10%
						</td>
                        <td>
							7%
						</td>
                        <td>
							7%
						</td>
                        <td>
							7%
						</td>
                        <td>
							6%
						</td>
                        <td>
							12,5%
						</td>    
					</tr>
					<tr style="background: rgba(192, 192, 192, 0.31)">
						<td>
							Silver Group
						</td>
						<td>
							-
						</td>
                        <td>
							-
						</td>
                        <td>
							-
						</td>
                        <td>
							-
						</td>
                        <td>
							5%
						</td>
                        <td>
							7,5%
						</td>
                        <td>
							7,75%
						</td>
                        <td>
							7,5%
						</td>
                        <td>
							7,5%
						</td>
                        <td>
							5,5%
						</td>
                        <td>
							5,5%
						</td>
                        <td>
							10,5%
						</td>
                        <td>
							10,5%
						</td>
                        <td>
							14%
						</td>
					</tr>
					<tr style="background: rgba(226, 167, 35, 0.31)">
						<td>
							Bronze Group
						</td>
						<td>
							-
						</td>
                        <td>
							-
						</td>
                        <td>
							-
						</td>
                        <td>
							-
						</td>
                        <td>
							-
						</td>
                        <td>
							5%
						</td>
                        <td>
							7,25%
						</td>
                        <td>
							5,25%
						</td>
                        <td>
							4,75%
						</td>
                        <td>
							9,75%
						</td>
                        <td>
							14,25%
						</td>
                        <td>
							13,5%
						</td>
                        <td>
							13,5%
						</td>
                        <td>
							6%
						</td>
					</tr>
					<tr style="background: rgba(178, 123, 1, 0.31)">
						<td>
							Copper Group
						</td>
						<td>
							-
						</td>
                        <td>
							-
						</td>
                        <td>
							-
						</td>
                        <td>
							-
						</td>
                        <td>
							-
						</td>
                        <td>
							-
						</td>
                        <td>
							5%
						</td>
                        <td>
							9,75%
						</td>
                        <td>
							12,75%
						</td>
                        <td>
							12,75%
						</td>
                        <td>
							11,25%
						</td>
                        <td>
							9,5%
						</td>
                        <td>
							13%
						</td>
                        <td>
							8%
						</td>
					</tr>
				</tbody>                
			</table>
			<hr>
			<h3 class="letras-betcnow color-azul-betcnow">Example</h3><br>
			If 1000 numbers were sold in a Betcpot (of 0.002 BTC each bet), the allocation of the accumulated money is made as follows:<br><br>
			Accumulated: 2 BTC<br>
			Money to be distributed after paying sponsors and the house: 1.7 BTC
			<table class="table table-striped">				
				<tbody>					
					<tr>
						<td>
							1st Place
						</td>
						<td>
							0.51 BTC
						</td>                                
						<td>
							(x255 times your bet)
						</td>                                
					</tr>
					<tr>
						<td>
							2nd Place
						</td>
						<td>
							0.255 BTC
						</td>                                
						<td>
							(x127.5 times your bet)
						</td>                                
					</tr>
					<tr>
						<td>
							3rd Place
						</td>
						<td>
							0.1275 BTC
						</td>     
						<td>
							(x63.75 times your bet)
						</td>                                
					</tr>
					<tr>
						<td>
							Gold Group
						</td>
						<td>
							0.24255 BTC / 9 winners = 0.02692 each
						</td> 
						<td>
							(x13.46 times your bet)
						</td>                                
					</tr>
					<tr>
						<td>
							Silver Group
						</td>
						<td>
							0.28263 BTC / 19 Winners = 0.01488 each
						</td>     
						<td>
							(x7.44 times your bet)
						</td>                                
					</tr>
					<tr>
						<td>
							Bronze Group
						</td>
						<td>
							0.121125 BTC / 34 Winners = 0.003563 each
						</td>    
						<td>
							(x1.78 times your bet)
						</td>                                
					</tr>
					<tr>
						<td>
							Copper Group
						</td>
						<td>
							0.1615 BTC / 69 winners = 0.0023406 each
						</td>    
						<td>
							(x1.17 times your bet)
						</td>                                
					</tr>
				</tbody>                
			</table>						
	</div>

<!-- boton como referral system -->

    <center><button type="button" class="btn btn-info btn-lg btn-block" data-toggle="modal" data-target="#myModal4">Referral system</button></center>
<!-- Modal -->

    <div id="myModal4" class="modal fade" role="dialog">
        <div class="modal-dialog">

    <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header azulmodal">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <center><h4 class="modal-title">Referral system</h4></center>
                </div>

                <div class="modal-body">
                    <p align="justify">Being a <b>FREE</b> user, you can refer as many players as you want and get <b>5%</b> of every bet they make.
					</p>
					<hr>
					<p align="justify">
						By becoming a <b>MEMBER</b> user, you will double that in addition to other benefits.
					</p>
                </div>
                <div class="modal-footer">
                    <center><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></center>
                </div>
            </div>
        </div>
    </div>

<!-- boton membresias -->
    <center><button type="button" class="btn btn-info btn-lg btn-block" data-toggle="modal" data-target="#myModal5">Memberships</button></center>

<!-- Modal -->

    <div id="myModal5" class="modal fade" role="dialog">
        <div class="modal-dialog">

    <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header azulmodal">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                 <center><h4 class="modal-title">Memberships</h4></center> 
                </div>
                <div class="modal-body">
					<a href="{% url 'membership' %}" target="_blank">							
						<div class="membership-block">
							<img src="{% static 'betcnow/img/medalla.jpg' %}">
							<ul>
								<li>
									Earn 5% of every play made by your referrals
								</li>
								<li>
									Jump into the Bitcoin Race
								</li>
								<li>
									Earn instant gifts playing Betcpot's numbers
								</li>
							</ul>
						</div>
					</a>
					<hr>
					<a href="{% url 'membership' %}" target="_blank">
						<div class="membership-block">
							<img src="{% static 'betcnow/img/member.jpg' %}" class="img-memberships-about">
							<ul>
								<li>
									All the benefits of Free Membership
								</li>
								<li>
									Earn 10% of every play made by your referrals
								</li>
								<li>
									Earn three times more Bitcoin Race points
								</li>								
							</ul>
						</div>
					</a>
                </div>
               <div class="modal-footer">
                   <center><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></center>
               </div>
            </div>
        </div>
    </div>

<!-- boton nosotros -->
    <center><button type="button" class="btn btn-info btn-lg btn-block" data-toggle="modal" data-target="#myModal6">Bitcoin Race</button></center>

<!-- Modal -->

    <div id="myModal6" class="modal fade" role="dialog">
        <div class="modal-dialog">

    <!-- Modal content-->

            <div class="modal-content">
                <div class="modal-header azulmodal">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
              <center><h4 class="modal-title">Bitcoin Race</h4></center>
                </div>

                <div class="modal-body">
					<p align="justify"> The Bitcoin Race is a virtual race which consists in a points system where the best user in the month will be awarded with a big prize in BTC. These points will accumulate throughout the month as follows:</p>
					<br>
					<table class="table table-striped">				
						<thead>
							<tr>
								<td rowspan="2">
									<b>Action</b>
								</td>
								<td colspan="2">
									<b>Points</b>
								</td>								
							</tr>
							<tr>
								<td>
									Free
								</td>
								<td>
									Member
								</td>
							</tr>
						</thead>
						<tbody>					
							<tr>
								<td>
									Each play of your referrals
								</td>
								<td>
									1
								</td>
								<td>
									3
								</td>
							</tr>
							<tr>
								<td>
									Each of your own plays
								</td>
								<td>
									2
								</td>
								<td>
									6
								</td>
							</tr>
							<tr>
								<td>
									Entering into the copper group in any Betcpot
								</td>
								<td>
									3
								</td>                                
								<td>
									9
								</td>                                
							</tr>
							<tr>
								<td>
									Entering into the bronze group in any Betcpot
								</td>
								<td>
									4
								</td>                                
								<td>
									12
								</td>                                
							</tr>
							<tr>
								<td>
									Entering into the silver group in any Betcpot
								</td>
								<td>
									6
								</td>                                
								<td>
									18
								</td>                                
							</tr>
							<tr>
								<td>
									Entering into the gold group in any Betcpot
								</td>
								<td>
									8
								</td>                                
								<td>
									24
								</td>                                
							</tr>
							<tr>
								<td>
									Third place
								</td>
								<td>
									9
								</td>                                
								<td>
									30
								</td>                                
							</tr>
							<tr>
								<td>
									Second place
								</td>
								<td>
									12
								</td>                                
								<td>
									40
								</td>                                
							</tr>
							<tr>
								<td>
									First place
								</td>
								<td>
									24
								</td>                                
								<td>
									80
								</td>                                
							</tr>
							<tr>
								<td>
									Get numbers with instant gifts in Betcpots
								</td>
								<td>
									48<br>12<br>6<br>3
								</td>                                
								<td>
									144<br>36<br>18<br>9
								</td>                                
							</tr>							
						</tbody>                
					</table>																		
						
                </div>

                <div class="modal-footer">
                    <center><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></center>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- aqui termina el cuerpo -->
{% endblock %}