{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}F.A.Q {% endblock%}
{% block content %}
<!-- AQUI VA EL CUERPO -->

<div class="container about">    
<!-- boton introduccion -->
    <center><button type="button" class="btn btn-info btn-lg btn-block" data-toggle="modal" data-target="#myModal">Introduction</button></center>
<!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Introduction</h4>
                </div>
                <div class="modal-body">
                    <B ALIGN="center">¿What is BTCnow?</B>                    
                    <p align="center"> BETCnow es una plataforma de loteria.</p><hr>
                    <B ALIGN="center">¿En que consiste? </B>
                    <p align="justify">Consite en relizar un pote, donde 1000 personas compraran un numero con un coste de 0.0026 BTC que va del 0 al 999. </p><hr>
                    <B ALIGN="center">¿Como funciona?</B> 
                    <p align="justify">El equipo de BETCnow a partir del dia lunes de cada semana permitira comprar un numero del pote, todos los domingos a las 4pm new york, EN VIVO, sera realizado el sorteo para conocer a nuestros afortunados ganadores de la semana. </p><hr>
                    <B ALIGN="center">¿GANADORE(S)? </B>
                    <p align="center">SI, en BETCnow hay MUCHOS ganadores semanales.</p>
                </div>
                <div class="modal-footer">
                    <button  type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

<!-- boton como jugar -->

    <center><button type="button" class="btn btn-info btn-lg btn-block" data-toggle="collapse" data-target="#mycollapse1">How to play?</button></center>

<!-- Modal -->

    <div id="mycollapse1" class="collapse" role="dialog">
        <div class="container">
            <hr>
            <div class="row">
                <div class="col-lg-9">
                    <img class="img-responsive" src="{% static 'betcnow/img/step1.png' %}">
                </div>
                <div class="col-lg-3 textos-explicativos">
                    <h3>STEP 1. Join Betcnow</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-3 textos-explicativos">
                    <h3>STEP 2. Pick your favorite number</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                </div>
                <div class="col-lg-9">
                    <img class="img-responsive" src="{% static 'betcnow/img/step2.png' %}">
                </div>                
            </div>
            <hr>            
            <hr>
            <div class="row">
                <div class="col-lg-3 textos-explicativos">
                    <h3>STEP 3. Pay</h3>
                    <p>aqui explicamos que tiene cierto tiempo para pagar, que puede copiar y pegar o pagar con coodigo qr, pagos solo en btc, comisiones por procesadores</p>
                </div>
                <div class="col-lg-9">
                    <img class="img-responsive" src="{% static 'betcnow/img/step3.png' %}">
                </div>                
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-6">
                    <img src="{% static 'betcnow/img/medalla.jpg' %}">
                </div>
                <div class="col-lg-6 textos-explicativos">
                    <h3>STEP 4. Wait for result</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                </div>
            </div>
            <hr>
            
            
        </div>
    </div>

<!-- boton como funciona -->

    <center><button type="button" class="btn btn-info btn-lg btn-block" data-toggle="modal" data-target="#myModal2">How does it works?</button></center>
<!-- Modal -->
    <div id="myModal2" class="modal fade" role="dialog">
        <div class="modal-dialog">
    <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">¿COMO FUNCIONA?</h4>
                </div>
                <div class="modal-body">
                    <p align="justify">Luego de que 1000 personas compren un ticket (minimo 135), <b>INICIA EL SORTEO.</b>
                    Anunciamos en VIVO a nuestros 3 afortunados y felices ganadores de nuestros 3 premios mayores semanales.<br>
                    <br>un momento <b>¿ESO ES TODO?</b><br>
                    PUES <b>NO.</b><br>
                    <br><b>BETCnow</b> posee 3 categoria de ganadores <b>¡YEY!</b> <br>
                    <br><b>¡¿Como es esto?!</b><br>
                    Pues si, BETCnow posee un sistema de ganadores que premia al 10% de nuestros participantes semanales.
                    Dejenme explicarles mejor, 10% de las personas que juegan seran parte de nuestros felices ganadores.</p>
                </div>
                <div class="modal-footer">
                    <center><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></center>
                </div>
            </div>
        </div>
    </div>

<!-- boton como jugar -->

    <center><button type="button" class="btn btn-info btn-lg btn-block" data-toggle="modal" data-target="#myModal4">Referral system</button></center>
<!-- Modal -->

    <div id="myModal4" class="modal fade" role="dialog">
        <div class="modal-dialog">

    <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">SISTEMA DE REFERIDOS</h4>
                </div>

                <div class="modal-body">
                    <p align="justify">BETCnow cuenta con un sistema de referidos, el cual es pagado por los ingresos de la plataforma, beneficiando a nuestros usuarios.
                    <br>Nuestro sistema de referido es GRANDIOSO, consiste en que el "Sponsor" (persona que invita gente) gana el 5%,10% o 14% de CADA jugada realizada por sus referidos.<br></p>
                </div>
                <div class="modal-footer">
                    <center><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></center>
                </div>
            </div>
        </div>
    </div>

<!-- boton membresias -->
    <center><button type="button" class="btn btn-info btn-lg btn-block" data-toggle="modal" data-target="#myModal5">Memberships</button></center>

<!-- Modal -->

    <div id="myModal5" class="modal fade" role="dialog">
        <div class="modal-dialog">

    <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">MEMBRESIAS</h4>
                </div>
                <div class="modal-body">
                    <p align="justify"><br ><b>Bronze :</b>
                    <br>Costo: Gratis
                    <br>Beneficios: obtienen el <b>5% por CADA JUGADA</b> de sus referidos.</p>
                    <hr width=75%>
                    <br><p align="justify"><b>Silver : </b>
                    <br>Costo: 2$
                    <br>Beneficios: obtienen el <b>10% por CADA JUGADA</b> de sus referidos.</p>
                    <hr>
                    <br><p align="justify"><b>Gold :</b> 
                    <br>Costo: 3$ 
                    <br>Beneficios: obtiene el <b>14% por CADA JUGADA</b> de sus referidos y participa en sorteos semanales (dinero, jugadas gratis )</p>
                </div>
               <div class="modal-footer">
                   <center><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></center>
               </div>
            </div>
        </div>
    </div>

<!-- boton nosotros -->
    <center><button type="button" class="btn btn-info btn-lg btn-block" data-toggle="modal" data-target="#myModal6">About us</button></center>

<!-- Modal -->

    <div id="myModal6" class="modal fade" role="dialog">
        <div class="modal-dialog">

    <!-- Modal content-->

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">NOSOTROS</h4>
                </div>

                <div class="modal-body">
                    <p align="justify"> SOMOS UN GRUPO EMPRESARIAL DE JOVENES QUE SE HARAN RICO A COSTILLAS DE TU VICIO</p>
                </div>

                <div class="modal-footer">
                    <center><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></center>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- aqui termina el cuerpo -->
{% endblock %}