{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}F.A.Q {% endblock%}
{% block content %}
<!-- AQUI VA EL CUERPO -->

  <div class="container">    

<!-- boton introduccion -->

<center><button type="button" class="btn btn-info btn-lg btn-block" data-toggle="modal" data-target="#myModal">INTRODUCTION</button><center>

<!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
     <div class="modal-dialog">

    <!-- Modal content-->

        <div class="modal-content">
           <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
                   <h4 class="modal-title">INTRODUCTION</h4>
           </div>

           <div class="modal-body">

<HR><B ALIGN="center">¿What is BTCnow? </B>
<p align="center"> BETCnow es una plataforma de loteria.</p><HR>
<B ALIGN="center">¿En que consiste? </B>
<p align="justify">Consite en relizar un pote, donde 1000 personas compraran un numero con un coste de 0.0026 BTC que va del 0 al 999. </p><HR>
<B ALIGN="center">¿Como funciona?</B> 
<p align="justify">El equipo de BETCnow a partir del dia lunes de cada semana permitira comprar un numero del pote, todos los domingos a las 4pm new york, EN VIVO, sera realizado el sorteo para conocer a nuestros afortunados ganadores de la semana. </p><HR>
<B ALIGN="center">¿GANADORE(S)? </B>
<p align="center">SI, en BETCnow hay MUCHOS ganadores semanales.</p><HR>

         </div>

       <div class="modal-footer">
        <button  type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       </div>
     </div>
   </div>
 </div>

<!-- boton como jugar -->

<center><button type="button" class="btn btn-info btn-lg btn-block" data-toggle="modal" data-target="#myModal1">¿HOW TO PLAY?</button><center>

<!-- Modal -->

   <div id="myModal1" class="modal fade" role="dialog">
     <div class="modal-dialog">

    <!-- Modal content-->

       <div class="modal-content">
         <div class="modal-header">
           <button  type="button" class="close" data-dismiss="modal">&times;</button>
           <h4 class="modal-title">¿COMO JUGAR?</h4>
         </div>

        <div class="modal-body">

<p align="left"><b>ES MUY SIMPLE.</b></p>

<P align="left">creas una cuenta, inicias sesion , le das click a jugar, eliges tu numero de la suerte, pagas y LISTO</p>
        </div>

       <div class="modal-footer">
        <center><button type="button" class="btn btn-default" data-dismiss="modal">Close</button><center>
       </div>

    </div>
  </div>
</div>

<!-- boton como funciona -->

<center><button type="button" class="btn btn-info btn-lg btn-block" data-toggle="modal" data-target="#myModal2">¿HOW THIS WORKS?</button><center>

<!-- Modal -->

<div id="myModal2" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">¿COMO FUNCIONA?</h4>
      </div>

        <div class="modal-body">
          <p align="justify">Luego de que 1000 personas compren un ticket, <b>INICIA EL SORTEO.</b>
Anunciamos en VIVO a nuestros 3 afortunados y felices ganadores de nuestros 3 premios mayores semanales.<br>
<br>un momento <b>¿ESO ES TODO?</b><br>
PUES <b>NO.</b><br>
<br><b>BETCnow</b> posee 3 categoria de ganadores <b>¡YEY!</b> <br>
<br><b>¡¿Como es esto?!</b><br>
Pues si, BETCnow posee un sistema de ganadores que premia al 10% de nuestros participantes semanales.
Dejenme explicarles mejor, 10% de las personas que juegan seran parte de nuestros felices ganadores.</p>
       </div>

      <div class="modal-footer">
        <center><button type="button" class="btn btn-default" data-dismiss="modal">Close</button><center>
      </div>

    </div>
  </div>
</div>

<!-- METAS -->
<center><button type="button" class="btn btn-info btn-lg btn-block" data-toggle="modal" data-target="#myModal3">OBJECTIVES</button><center>

<!-- Modal -->
<div id="myModal3" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button  type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">METAS</h4>
      </div>

      <div class="modal-body">
        <p align="justify">Como estuvimos explicando arriba, el pote va del 0 al 999, entonces se preguntaran.

<br><b>¿Que pasa si el pote no llega a completarse?</b><br>
Nuestro equipo de trabajo, trabajo completamente en % , por lo cual no existe problema alguno, mientras exista 30 jugadores se entregara 1,2,3 lugar y a partir de 130 jugadores se crearan los grupos de ganadores gold silver y bronce

<br><b>¿Que pasara si hay demasiada gente para un solo pote?</b>
</p> 
      </div>
      <div class="modal-footer">
        <center><button type="button" class="btn btn-default" data-dismiss="modal">Close</button><center>

      </div>
    </div>
  </div>
</div>

<!-- boton como jugar -->

<center><button type="button" class="btn btn-info btn-lg btn-block" data-toggle="modal" data-target="#myModal4">REFERENCE SYSTEM</button><center>

<!-- Modal -->

<div id="myModal4" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">SISTEMA DE REFERIDOS</h4>
      </div>

    <div class="modal-body">
        <p align="justify">BETCnow cuenta con un sistema de referidos, el cual es pagado por los ingresos de la plataforma, beneficiando a nuestros usuarios.

<BR>Nuestro sistema de referido es GRANDIOSO, consiste en que el "Sponsor" (persona que invita gente) gana el 5%,10% o 14% de CADA jugada realizada por sus referidos.<BR></p>
    </div>
      <div class="modal-footer">
        <center><button type="button" class="btn btn-default" data-dismiss="modal">Close</button><center>

      </div>
    </div>
  </div>
</div>

<!-- boton membresias -->
<center><button type="button" class="btn btn-info btn-lg btn-block" data-toggle="modal" data-target="#myModal5">
MEMBERSHIPS</button><center>

<!-- Modal -->

<div id="myModal5" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">MEMBRESIAS</h4>
      </div>

    <div class="modal-body">
<p align="justify"><br ><b>Bronze :</b>
<br>Costo: Gratis
<br>Beneficios: obtienen el <b>5% por CADA JUGADA</b> de sus referidos.</p>
<hr width=75%>
<br><p align="justify"><b>Silver : </b>
<br>Costo: 2$
<br>Beneficios: obtienen el <b>10% por CADA JUGADA</b> de sus referidos.</p>
<hr>
<br><p align="justify"><b>Gold :</b> 
<br>Costo: 3$ 
<br>Beneficios: obtiene el <b>14% por CADA JUGADA</b> de sus referidos y participa en sorteos semanales (dinero, jugadas gratis )</p>
</p>
    </div>

       <div class="modal-footer">
           <center><button type="button" class="btn btn-default" data-dismiss="modal">Close</button><center>
       </div>

    </div>
  </div>
</div>

<!-- boton nosotros -->

<center><button type="button" class="btn btn-info btn-lg btn-block" data-toggle="modal" data-target="#myModal6">ABOUT US</button><center>

<!-- Modal -->

<div id="myModal6" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">NOSOTROS</h4>
      </div>

      <div class="modal-body">
        <p align="justify"> SOMOS UN GRUPO EMPRESARIAL DE JOVENES QUE SE HARAN RICO A COSTILLAS DE TU VICIO</p>
      </div>

      <div class="modal-footer">
        <center><button type="button" class="btn btn-default" data-dismiss="modal">Close</button><center>
      </div>

     </div>
   </div>
 </div>
</div>

<!-- aqui termina el cuerpo -->
{% endblock %}