{% extends 'base.html' %}
{% load staticfiles %}
{% block meta_title %}Betcpot Demo: Try Betcnow for free{% endblock %}
{% block title %}<h1 class="subtitulos">Betcpot Demo</h1>{% endblock%}
{% block content %}
<div class="container">
	<div class="row" style="height: 150px; margin-top: 30px">
		<center><img src="{% static 'betcnow/img/check_mark.png' %}"></center>
	</div>
	<div class="row" style="margin-top: 30px">
		<center>
			<h3>You have already participated in the free Betcpot Demo of this week</h3>
			<h2>Go to the today's <a href="{% url 'play' %}" class="color-azul-betcnow" style="text-decoration: none" target="_blank">Betcpot</a> to multiply your bitcoins now!</h2>
		</center>
	</div>
</div>
{% endblock%}

