{% extends 'base.html' %}
{% load staticfiles %}
{% block meta_title %}Betcpot: Pick numbers and Play{% endblock %}
{% block scripts %}    
    <script>
		var lista_status = {{lista_status}};
		var countDownDate = new Date("{{today_at_8}}").getTime();
		
		var now = new Date("{{now}}").getTime();
	</script>
    <script src="{% static 'betcnow/js/betcpot.js' %}"></script>
	<script src="{% static 'betcnow/js/countdown.js' %}"></script>

    <script>        
        $(document).ready(function(){
           llenar_matriz(0); 
        });        
    </script>
    <script>        
        jQuery(function(){
            $('.cientos').on("click", function(){
                llenar_matriz(this.value);            
            });
        });        
    </script>
    <script>        
        jQuery(function(){
            $("#random_button").mouseup(function(){
                random_values();   
            });
        });
        jQuery(function(){
            $("#random_input").on('keyup', function (e) {
                if (e.keyCode == 13) {
                    random_values();                
                }
            });
        });        
    </script>
    <script>
		{% if address_vacia %}
			var address_vacia = true;
		{% endif %}
		
        jQuery(function(){
           $('#submit_jugada').click(function(){
               if (($('#tabla_jugadas tr').length == 1) || address_vacia == true){                   
                   return false;
               }
			   else{
				   window.location.reload();
				   return true;
			   }
           }); 
        });

    </script>
{% endblock %}

{% block title%}<h1 class="subtitulos">Betcpot</h1>{% endblock %}
{% block content %}
{% if address_vacia %}
	<div class="alert alert-danger">
  		<center><strong>Hey!</strong> Before you play, please go to your <a href="{% url 'profile' pk=request.user.pk %}" style="color: inherit; text-decoration: underline"><b>profile</b></a>, and <strong>set up your Bitcoin address</strong> so we can know where we're going to pay you</center>
	</div>
{% endif %}
<div class="container-fluid">
	
	<div class="row renglon-betcpot">    
		<div class="col-lg-6 col-md-8 col-sm-7 columnaMatriz">        
			<div class="btn-group btn-group-lg btn-matrix" id="matriz"></div>

			<div class="botones-centena">
				<input type="button" class="btn btn-default cientos" value='0'> 
				<input type="button" class="btn btn-default cientos" value='100'>
				<input type="button" class="btn btn-default cientos" value='200'>
				<input type="button" class="btn btn-default cientos" value='300'>
				<input type="button" class="btn btn-default cientos" value='400'>
				<input type="button" class="btn btn-default cientos" value='500'>
				<input type="button" class="btn btn-default cientos" value='600'>
				<input type="button" class="btn btn-default cientos" value='700'>
				<input type="button" class="btn btn-default cientos" value='800'>
				<input type="button" class="btn btn-default cientos" value='900'>

			</div>
		</div>
		<div class="col-lg-4 col-lg-offset-1 col-md-4 col-sm-5 tabla">
			<div class="row">
				<div class="col-sm-9">
					<input type="number" id='random_input' placeholder="how many random numbers?" class="form-control">        
				</div>
				<div class="col-sm-2">
					<input type="button" id='random_button' value="Random" class='btn btn-default'>
				</div>    
			</div>
			<div class="row" style="margin-top: 20px;">
				<form action="{% url 'check-out' %}" method="post">
					{% csrf_token %}
					<table class="table table-condensed" id='tabla_jugadas'>
						<thead>
							<tr>
								<th>Numbers selected:<small id='cant_jugadas'>0</small></th>
							</tr>
						</thead>
					</table>
					<input type="hidden" value='{{pote.id}}' name='pote'>
					<input type="hidden" value="5c3d3ceac7a96c1742d326d42ce551fb" name='hash'>
					<input type="submit" class="btn btn-primary btn-block" id="submit_jugada" value="Go!">
				</form>
			</div>
		</div>
	</div>
	
	{% if not show_timer %}	
	<div id="timer">
		<div class="row">
			<h4>Time left for today's draw:</h4>
		</div>
		<div class="row">
			<div class="col-lg-5 col-lg-offset-0 col-md-5 col-md-offset-0 col-sm-8 col-sm-offset-0 col-xs-12 col-xs-offset-0 reloj">			
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 cuadritos" id="hours">
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 cuadritos" id="minutes">
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 cuadritos" id="seconds">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-5 col-lg-offset-0 col-md-5 col-md-offset-0 col-sm-8 col-sm-offset-0 col-xs-12 col-xs-offset-0 reloj" id="caja-identificadores">
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 identificadores-numeros" id="id-hours">
					<center>h</center>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 identificadores-numeros">
					<center>m</center>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 identificadores-numeros" id="id-seconds">
					<center>s</center>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
	
</div>	


{% endblock %}


