{% extends 'base.html' %}
{% load staticfiles %}
{% block meta_title %}Betcpot: Pick numbers and Play{% endblock %}
{% block scripts %}    
    <script> var lista_status = {{lista_status}}</script>
    <script src="{% static 'betcnow/js/betcpot_demo.js' %}"></script>
	<script>
		pote = {{pote.id}}
		URL_registrar_jugada = {% url 'reg-demo' %};
	</script>
    <script>        
        jQuery(function(){
			llenar_matriz(0); 
			$(window).on('load', function(){
				$('#myModal').modal('show');
			});
            $('.cientos').on("click", function(){
                llenar_matriz(this.value);            
            });
			$("#random_button").click(function(){
                random_values();   
            });
			$("#random_input").on('keyup', function (e) {
                if (e.keyCode == 13) {
                    random_values();                
                }
            });
        });        
    </script>    
    <script>
		var address_vacia = false;
		{% if address_vacia %}
			address_vacia = true;
		{% endif %}
		
        jQuery(function(){
           $('#submit_jugada').click(function(){			   
               if (($('#tabla_jugadas tr').length == 1) || address_vacia == true){                   
                   return false;
               }
			   else{				   
				   var numero = $('#jugada').val();
					$.ajax({
						url: URL_registrar_jugada,
						data: {
							'numero': numero,
							'pote': pote
						},
						dataType: 'json',
						success: function(data){
							var resultado, title, text, url;
							if (data.ocupado == false){
								resultado = 'success';
								title = 'Thanks for playing!';
								text = 'You have played de number ' + numero + '\n\nCheck the Results page next sunday to find out if you are one of the winners!';
								url = "/";
							}
							else{
								resultado = 'error';
								title = 'Please, pick a different number';
								text = 'The number ' + numero + ' has already been taken';
								url = {% url 'demo' %}
							}
							swal({
								title: title,
								text: text,
								type: resultado,
							}, function(){
								window.location.replace(url);
							});														
						}
					});
			   }
           }); 
        });

    </script>
{% endblock %}

{% block title%}<h1 class="subtitulos">Betcpot Demo</h1>{% endblock %}
{% block content %}
{% if address_vacia %}
	<div class="alert alert-danger">
  		<center><strong>Hey!</strong> Before you play, please go to your <a href="{% url 'profile' pk=request.user.pk %}" style="color: inherit; text-decoration: underline"><b>profile</b></a>, and <strong>set up your Bitcoin address</strong> so we can know where we're going to pay you</center>
	</div>
{% endif %}
<div class="row">
    <div class="col-lg-12" style="padding-left: 90px">
        <h4><b>Betcpot N°: {{pote.id}} (Demo)</b></h4>
    </div>
</div>
<div class="row renglon-betcpot">    
    <div class="col-lg-6 col-md-8 col-sm-7 columnaMatriz">        
        <div class="btn-group btn-group-lg btn-matrix" id="matriz"></div>

        <div class="botones-centena">
            <input type="button" class="btn btn-default cientos" value='0'> 
            <input type="button" class="btn btn-default cientos" value='100'>
            <input type="button" class="btn btn-default cientos" value='200'>
            <input type="button" class="btn btn-default cientos" value='300'>
            <input type="button" class="btn btn-default cientos" value='400'>
            <input type="button" class="btn btn-default cientos" value='500'>
            <input type="button" class="btn btn-default cientos" value='600'>
            <input type="button" class="btn btn-default cientos" value='700'>
            <input type="button" class="btn btn-default cientos" value='800'>
            <input type="button" class="btn btn-default cientos" value='900'>

        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-5 tabla">
        <div class="row">
            <div class="col-sm-9">
                <input type="number" id='random_input' placeholder="how many random numbers?" class="form-control">        
            </div>
            <div class="col-sm-2">
                <input type="button" id='random_button' value="Random" class='btn btn-default'>
            </div>    
        </div>
        
        
            
		<table class="table table-condensed" id='tabla_jugadas'>
			<thead>
				<tr>
					<th>Played numbers: <small id='cant_jugadas'>0</small></th>
				</tr>
			</thead>
		</table>
		<input type="button" class="btn btn-primary btn-block" id="submit_jugada" value="Go!">
    </div>
</div>
<!-- Modal de bienvenida!-->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
    <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header azulmodal">                
                <center><h1 class="modal-title letras-betcnow">This is our Betcpot Demo!</h1></center>
            </div>
            <div class="modal-body">
				<ul class="listas-check">
					<li class="letras-betcnow">Play for Free</li>
					<li class="letras-betcnow">Weekly draws: <p>Results published every sunday on the Results page</p></li>
				</ul>				
					<center><p id="titulo-promotional" class="color-verde-betcnow letras-betcnow">PROMOTIONAL LAUNCHING</p></center>
				<ul class="listas-check">
					<li class="letras-betcnow">0.057 BTC to be distributed by the house</li>
				</ul>
                
            </div>
            <div class="modal-footer">
                <center><button type="button" class="btn btn-success" data-dismiss="modal">Continue</button></center>
            </div>
        </div>
    </div>
</div>
{% endblock %}


