{% extends 'base.html' %}
{% load staticfiles %}
{% block scripts%}
<script src="{% static 'betcnow/js/detect-scroll.js' %}"></script>
{% endblock %}
{% block content %}	
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Carousel indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>   
    <!-- Wrapper for carousel items -->
    <div class="carousel-inner">

        <div class="item active">
            <a href="{% url 'play' %}"><img class="img-corousel" src="{% static 'betcnow/img/imagenes.png' %}" alt="First Slide"></a>
        </div>

        <div class="item">
			<a href="{% url 'results' %}"><img class="img-corousel" src="{% static 'betcnow/img/imagenes2.png' %}" alt="Second Slide"></a>
        </div>

        <div class="item">
			<a href="{% url 'membership' %}"><img class="img-corousel" src="{% static 'betcnow/img/imagenes3.png' %}" alt="Third Slide"></a>
        </div>

    </div>
    <!-- Carousel controls -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
    </div>
	<center><h3 class="subtitulos color-verde-betcnow" style="font-size: 28pt;  display: inline-block;">What's awaiting you in</h3>&nbsp;<h1 class="subtitulos color-verde-betcnow" id="h1-betcnow">Betcnow</h1><h3 class="subtitulos color-verde-betcnow" style="font-size: 28pt; display: inline-block" id="signo-int">?</h3></center>
    <div id="section-features">
        <div class="container" id="container-iconos">
			<div class="row" style="height: 40px">
			</div>
      <div class="row">
          <div class="col-lg-5 col-lg-offset-1 col-md-offset-1 col-md-5 col-sm-12 col-xs-12 icono-letra">
            <center><img class="img-responsive iconos-countdown" src="{% static 'betcnow/img/iconos/bitcoin-ticket.png' %}" alt="bitcoin ticket"></center>
            <br>
            <center><p class="letr">Low-cost plays, high Bitcoin revenue: Win up to 255 times your bet!</p></center>
          </div>
          <div class="col-lg-5 col-lg-offset-1 col-md-offset-1 col-md-5 col-sm-12 col-xs-12 icono-letra">
             <center><img class="img-responsive iconos-countdown" src="{% static 'betcnow/img/iconos/referidos.png' %}" alt="referrals"></center>
             <br>
			  <center><p class="letr">Easy passive income through our Referral System</p></center>
          </div>
      </div>
<div class="row">
          <div class="col-lg-5 col-lg-offset-1 col-md-offset-1 col-md-5 col-sm-12 col-xs-12 icono-letra">
            <center><img class="img-responsive iconos-countdown" src="{% static 'betcnow/img/iconos/estadistica.png' %}" alt="more chances"></center>
            <br>
			  <center><p class="letr">More chances to win than any other Bitcoin site that has ever existed</p></center>
          </div>
          <div class="col-lg-5 col-lg-offset-1 col-md-offset-1 col-md-5 col-sm-12 col-xs-12 icono-letra">
             <center><img class="img-responsive iconos-countdown" src="{% static 'betcnow/img/iconos/carrera.png' %}" alt="bitcoin race"></center>
             <br>
			  <center><p class="letr">Bitcoin-Race: 1 free Bitcoin every month</p></center>
          </div>
</div>
<div class="row">
          <div class="col-lg-5 col-lg-offset-1 col-md-offset-1 col-md-5 col-sm-12 col-xs-12 icono-letra">
            <center><img class="img-responsive iconos-countdown" id="icono-candado" src="{% static 'betcnow/img/iconos/candado.png' %}" alt="safe"></center>
            <br>
            <center><p class="letr">Your money and identity are completely safe. We don't keep your money or your personal information in our site</p></center>
          </div>
          <div class="col-lg-5 col-lg-offset-1 col-md-offset-1 col-md-5 col-sm-12 col-xs-12 icono-letra">
             <center><img class="img-responsive iconos-countdown" src="{% static 'betcnow/img/iconos/gift.png' %}" alt="instant gift"></center>
             <br>
			  <center><p class="letr">More than 100 numbers with gift prizes for each draw</p></center>
			  <br>
			  
           </div>
</div>
</div>
</div>
<div style="background: #4F8ED8; margin-top: -18px">
<center><h3 class="subtitulos color-azul-betcnow" style="font-size: 28pt; color: #fff; padding: 20px 0px 15px 0px">How to play?</h3></center>
</div>
<br>

<div class="container" style="padding-top: 30px;">
			<div id="animation-igniter" style="height: 2px"></div>
            <div class="row" id="step-1" style="margin-top: 20px">
                <div class="col-lg-5 col-md-5">
                    <img class="img-responsive imagenhtp" src="{% static 'betcnow/img/step1.png' %}" alt="join betcnow">
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-md-5 col-md-offset-2 textos-explicativos" style="border-left: solid 2px #a6a4be">
                    <h3>STEP 1. Join Betcnow</h3>
                    <p>It's very easy and fast. Enter a username, your email address and an alphanumeric password of at least 8 characters. If you are referred by another user you can click on the word "Edit" to enter his username and be part of their referred, otherwise, betcnow will be your sponsor. After confirming your password, enter in the email address you specified and confirm your account by clicking on the link you receive. That is all!.</p>
                </div>
            </div>
            <hr class="hr-pava2">
			<div id="animation-igniter-2" style="height: 2px"></div>
            <div class="row" id="step-2">
                <div class="col-lg-3 col-md-4 textos-explicativos" style="border-right: solid 2px #a6a4be">
                    <h3>STEP 2. Pick your favorite number</h3>
                    <p>After clicking the play button, you can select a maximum of 8 numbers between 000 and 999 in the Betcpot, or you can type how many numbers you want to choose and click the random button to select them at random. The green color in the numbers means that it is available, the red color means that it was already bought and the blue color means that it was already purchased and it was a number with a gift prize. After selecting your numbers, click on the blue play button and proceed to pay. If you want to play more than 8 numbers in the Betcpot, you must repeat the process.</p>
                </div>
                <div class="col-lg-7 col-lg-offset-1 col-md-7 col-md-offset-1">
                    <img class="img-responsive imagenhtp" src="{% static 'betcnow/img/step2.png' %}" alt="pick a number">
                </div>                
            </div>      
            <hr class="hr-pava2">
			<div id="animation-igniter-3" style="height: 2px"></div>
            <div class="row" id="step-3">
                <div class="col-lg-6 col-md-6">
                    <img class="img-responsive imagenhtp" src="{% static 'betcnow/img/step3.png' %}" alt="pay">
                </div>        
                 <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 textos-explicativos" style="border-left: solid 2px #a6a4be">
                    <h3>STEP 3. Pay</h3>
                    <p>On the check-out page you will be shown the Betcpot number you are playing in, the quantity of numbers played and the total to be paid plus the payment processor's commissions, once you have confirmed this information, you must copy and paste your Wallet address by clicking the "Copy Address" button, or you can simply scan the QR code provided by your wallet address provider from your mobile device, and that's it!</p>
                </div>        
            </div>
            <hr class="hr-pava2">
			<div id="animation-igniter-4" style="height: 2px"></div>
			<div id="step-4">
				<div class="row">
					<div class="col-lg-3 col-md-3 textos-explicativos" style="border-right: solid 2px #a6a4be">
						<h3>STEP 4. Wait for results</h3>
						<p>A few hours after closing each Betcpot you can see the winning numbers on the "Results" page, in the "This week results" section you can see the result of each Betcpot closed in the week by clicking on it. You can also see how Bitcoin's Race is going for the date in the "Bitcoin-Race Points" section.</p>
					</div>
					 <div class="col-lg-8 col-lg-offset-1 col-md-8 col-md-offset-1">
					  <center><img class="img-responsive imagenhtp" src="{% static 'betcnow/img/step4.png' %}" alt="results"></center>  
						 <hr class="hr-pava2">
					</div>
				</div>
				 <div class="row" style="margin-top: 40px;">
					<div class="col-lg-3 col-md-3 textos-explicativos" style="border-right: solid 2px #a6a4be">
						<p>Once inside the Betcpot results, the first three winners are shown on our podium where you can see their username, their winning number and the amount won in bitcoin. Below the same page the winners corresponding to the groups Gold, Silver, Bronze and Copper are shown indicating the names of users, the amount won in bitcoin for each group and for each user and the winning number.
						</p>
					</div>
					 <div class="col-lg-8 col-lg-offset-1 col-md-8 col-md-offset-1">
					 <center><img class="img-responsive imagenhtp" src="{% static 'betcnow/img/step4.1.png' %}" alt="individual results"></center>
					</div>
				</div>
			</div>
            <hr class="hr-pava2">
	  </div>

<div class="container-fluid" style="background: #51a351">
	<div class="row">
		<a href="{% url 'registration_register' %}">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 columna-botones-final">
				<div class="row" style="margin-top: 10px">
					<center><img class="img-responsive imagenhtp" src="{% static 'betcnow/img/iconos/signup.png' %}" alt="signup" style="height: 100px"></center>
				</div>
				<div class="row">
					<center><h4 class="letras-betcnow" style="color: #fff; font-size: 20pt; font-weight: bold;">Register</h4></center>
				</div>
			</div>
		</a>
		<a href="{% url 'play' %}">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 columna-botones-final">
				<div class="row imagenes-botones-final">
					<center><img class="img-responsive imagenhtp" src="{% static 'betcnow/img/iconos/billetes.png' %}" alt="play"></center>
				</div>
				<div class="row texto-botones-final">
					<center><h4 class="letras-betcnow" style="color: #fff; font-size: 20pt; font-weight: bold;">Play</h4></center>
				</div>
			</div>
		</a>
		<a href="{% url 'results' %}">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 columna-botones-final">
				<div class="row imagenes-botones-final">
					<center><img class="img-responsive imagenhtp" src="{% static 'betcnow/img/iconos/resultados.png' %}" alt="results"></center>
				</div>
				<div class="row texto-botones-final">
					<center><h4 class="letras-betcnow" style="color: #fff; font-size: 20pt; font-weight: bold;">Results</h4></center>
				</div>
			</div>
		</a>
	</div>
</div>
    

{% endblock %}