{% extends 'base.html' %}
{% load staticfiles %}
{% block meta_title %}High Revenue Bitcoin Cash Multiplier System{% endblock %}
{% block description %}
	<meta name="description" content="Low-cost/High odds bitcoin cash multiplier system. Multiply up to 255 times your BCH now! Jump into the race for free BCH every month!"/>
{% endblock %}
{% block scripts%}
<script src="{% static 'betcnow/js/detect-scroll.js' %}"></script>
{% endblock %}
{% block content %}
<div id="sticky-social">
	<ul>
		<li><a href="https://www.instagram.com/betcnow/?hl=en" class="icon-instagram" target="_blank"><span></span></a></li>
		<li><a href="https://twitter.com/Betcnow" class="icon-twitter" target="_blank"><span></span></a></li>
		<li><a href="https://www.fb.me/betcnow" class="icon-facebook2" target="_blank"><span></span></a></li>					
		<li><a href="https://plus.google.com/u/1/114448586660134852270" class="icon-google-plus2" target="_blank"><span></span></a></li>        					
	</ul>
</div>

  <div id="myCarousel" class="carousel slide article-slide" data-ride="carousel" data-interval="false">
    <!-- Carousel indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"><img src="{% static 'betcnow/img/1.jpg' %}"></li>
	  <li data-target="#myCarousel" data-slide-to="1"><img src="{% static 'betcnow/img/we_dont_acumulate.png' %}"></li>
      <!--li data-target="#myCarousel" data-slide-to="1"><img src="{% static 'betcnow/img/results.png' %}"></li-->
	  <li data-target="#myCarousel" data-slide-to="2"><img src="{% static 'betcnow/img/win.jpg' %}"></li>
      <li data-target="#myCarousel" data-slide-to="3"><img src="{% static 'betcnow/img/become_member.jpg' %}"></li>		
    </ol>   
    <!-- Wrapper for carousel items -->
    <div class="carousel-inner">

        <div class="item active">
            <a href="{% url 'demo' %}"><img class="img-corousel" src="{% static 'betcnow/img/1.jpg' %}" alt="First Slide"></a>
        </div>
		<div class="item">
            <a href="{% url 'demo' %}"><img class="img-corousel" src="{% static 'betcnow/img/we_dont_acumulate.png' %}" alt="First Slide"></a>
        </div>

        <!--div class="item">
			<a href="{% url 'results' %}"><img class="img-corousel" src="{% static 'betcnow/img/results.png' %}" alt="Second Slide"></a>
        </div-->
		<div class="item">
			<a href="{% url 'play' %}"><img class="img-corousel" src="{% static 'betcnow/img/win.jpg' %}" alt="demo" ></a>
		</div>
        <div class="item">
			<a href="{% url 'membership' %}"><img class="img-corousel" src="{% static 'betcnow/img/become_member.jpg' %}" alt="Third Slide"></a>
        </div>		
    </div>
    <!-- Carousel controls -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
    </div>	
	<div id="titulo-seccion-verde"><center><h2 class="subtitulos color-verde-betcnow" style="font-size: 28pt;  display: inline-block; z-index: 50;">What's awaiting you in Betcnow?</h2></center></div>
    <div id="section-features">
        <div class="container" id="container-iconos">
			<div class="row" style="height: 40px">
			</div>
      <div class="row">
          <div class="col-lg-5 col-lg-offset-1 col-md-offset-1 col-md-5 col-sm-12 col-xs-12 icono-letra">
            <center><img class="img-responsive iconos-countdown" src="{% static 'betcnow/img/iconos/bitcoin-ticket.png' %}" alt="bitcoin ticket"></center>
            <br>
            <center><p class="letr">Low-cost betting, high Bitcoin Cash revenue: Multiply up to 255 times your BCH!</p></center>
          </div>
          <div class="col-lg-5 col-lg-offset-1 col-md-offset-1 col-md-5 col-sm-12 col-xs-12 icono-letra">
             <center><img class="img-responsive iconos-countdown" src="{% static 'betcnow/img/iconos/referidos.png' %}" alt="referrals"></center>
             <br>
			  <center><p class="letr">Easy passive income through our Referral System</p></center>
          </div>
      </div>
<div class="row" id="row-verde-medio">
          <div class="col-lg-5 col-lg-offset-1 col-md-offset-1 col-md-5 col-sm-12 col-xs-12 icono-letra">
            <center><img class="img-responsive iconos-countdown" src="{% static 'betcnow/img/iconos/carrera.png' %}" alt="more chances"></center>
            <br>
			  <center><p class="letr">Bitcoin-Race: A big prize in BCH every month for the user with more points</p></center>
          </div>
          <div class="col-lg-5 col-lg-offset-1 col-md-offset-1 col-md-5 col-sm-12 col-xs-12 icono-letra">
             <center><img class="img-responsive iconos-countdown" src="{% static 'betcnow/img/iconos/estadistica.png' %}" alt="bitcoin race"></center>
             <br>
			  <center><p class="letr">More chances to multiply your Bitcoins Cash than any other cryptocurrency site that has ever existed</p></center>
          </div>
</div>
<div class="row">
          <div class="col-lg-5 col-lg-offset-1 col-md-offset-1 col-md-5 col-sm-12 col-xs-12 icono-letra">
            <center><img class="img-responsive iconos-countdown" id="icono-candado" src="{% static 'betcnow/img/iconos/candado.png' %}" alt="safe"></center>
            <br>
            <center><p class="letr">Your money and identity are completely safe. We don't keep your money or your personal information in our site</p></center>
          </div>
          <div class="col-lg-5 col-lg-offset-1 col-md-offset-1 col-md-5 col-sm-12 col-xs-12 icono-letra">
             <center><img class="img-responsive iconos-countdown" src="{% static 'betcnow/img/iconos/gift.png' %}" alt="instant gift"></center>
             <br>
			  <center><p class="letr">More than 100 numbers with instant gift prizes for each draw</p></center>
			  <br>
			  
           </div>
</div>
</div>
</div>
<div style="background: #4F8ED8; margin-top: -18px">
<center><h2 class="subtitulos color-azul-betcnow" style="font-size: 28pt; color: #fff; padding: 20px 0px 15px 0px">How does it works?</h2></center>
</div>
	<div class="container" style="padding-top: 10px;">		
		<div class="row">
			<div class="col-xs-12 col-md-8 col-md-offset-2">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/D2bl_otQPK4" allowfullscreen="allowfullscreen">
					</iframe>		
				</div>				
			</div>
		</div>		
		<br>
			<div id="animation-igniter" style="height: 2px"></div>
            <div class="row" id="step-1" style="margin-top: 20px">
				<div class="col-lg-5  col-md-5 col-md-offset-2 textos-explicativos col-md-push-5 bordes-steps-left">
                    <h3><span class="label label-primary">STEP 1</span> Join Betcnow</h3>
                    <p>It's very easy and fast. Enter a username, your email address and an alphanumeric password of at least 8 characters. That's it, you're in!</p>
                </div>
                <div class="col-lg-5 col-md-5 col-md-pull-7">
                    <img class="img-responsive imagenhtp" src="{% static 'betcnow/img/steps/step1.png' %}" alt="join betcnow">
                </div>                
            </div>
            <hr class="hr-pava2">
			<div id="animation-igniter-2" style="height: 2px"></div>
            <div class="row" id="step-2">
                <div class="col-lg-5 col-md-4 textos-explicativos bordes-steps-right">
                    <h3><span class="label label-primary">STEP 2</span> Pick your favorite numbers</h3>
                    <p>After clicking on the <span><img src="{% static 'betcnow/img/play_now_button.png' %}" alt="Play now button"></span> button, select the numbers of your preference in the Betcpot.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-md-7 col-md-offset-1">
                    <img class="img-responsive imagenhtp" src="{% static 'betcnow/img/steps/step2.png' %}" alt="pick a number">
                </div>                
            </div>      
            <hr class="hr-pava2">
			<div id="animation-igniter-3" style="height: 2px"></div>
            <div class="row" id="step-3">                
                 <div class="col-lg-5 col-lg-offset-2 col-md-5 col-md-offset-1 textos-explicativos col-md-push-5 bordes-steps-left">
                    <h3><span class="label label-primary">STEP 3</span> Pay </h3>
                    <p>
                        After confirming the information of your purchase, you proceed to pay using your cellphone or sending the funds to the Bitcoin Cash address displayed in the payment box. Also, if you have a promotional code you can redeem it and your selection will be free.
					 </p>
                </div>
				<div class="col-lg-5 col-md-6 col-md-pull-7">
                    <img class="img-responsive imagenhtp" src="{% static 'betcnow/img/steps/step3.png' %}" alt="pay">
                </div>
            </div>
            <hr class="hr-pava2">
			<div id="animation-igniter-4" style="height: 2px"></div>
			<div id="step-4">
				<div class="row">
					<div class="col-lg-5 col-md-3 textos-explicativos bordes-steps-right">
						<h3><span class="label label-primary">STEP 4</span> Check results</h3>
						<p>
                            Once the draw has been made you can review the results, where you can see the podium and the rest of the many winners in each group.
						</p>
					</div>
					 <div class="col-lg-5 col-lg-offset-2 col-md-8 col-md-offset-1">
					  <center><img class="img-responsive imagenhtp" src="{% static 'betcnow/img/steps/step4.1.png' %}" alt="results"></center>  
						 <hr class="hr-pava2">
					</div>
				</div>
			</div>
            <hr class="hr-pava2">
	  </div>

<div class="container-fluid" style="background: #51a351">
	<div class="row">
		<a href="{% url 'registration_register' %}">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 columna-botones-final">
				<div class="row" style="margin-top: 10px">
					<center><img class="img-responsive imagenhtp" src="{% static 'betcnow/img/iconos/signup.png' %}" alt="signup" style="height: 100px"></center>
				</div>
				<div class="row">
					<center><h4 class="letras-betcnow" style="color: #fff; font-size: 20pt; font-weight: bold;">Join now</h4></center>
				</div>
			</div>
		</a>
		<a href="{% url 'play' %}">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 columna-botones-final">
				<div class="row imagenes-botones-final">
					<center><img class="img-responsive imagenhtp" src="{% static 'betcnow/img/iconos/billetes.png' %}" alt="play"></center>
				</div>
				<div class="row texto-botones-final">
					<center><h4 class="letras-betcnow" style="color: #fff; font-size: 20pt; font-weight: bold;">Start</h4></center>
				</div>
			</div>
		</a>
		<a href="{% url 'results' %}">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 columna-botones-final">
				<div class="row imagenes-botones-final">
					<center><img class="img-responsive imagenhtp" src="{% static 'betcnow/img/iconos/resultados.png' %}" alt="results"></center>
				</div>
				<div class="row texto-botones-final">
					<center><h4 class="letras-betcnow" style="color: #fff; font-size: 20pt; font-weight: bold;">Results</h4></center>
				</div>
			</div>
		</a>
	</div>
</div>
    

{% endblock %}