{% extends 'base.html' %}
{% load staticfiles %}
{% block scripts %}
    <script src="{% static 'betcnow/js/cryptobox.js' %}" type="text/javascript"></script>
    <script src="{% static 'betcnow/js/dynamic-fill.js' %}"></script>
    <script src="{% static 'betcnow/js/noback.js' %}"></script> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
        jQuery(function(){            
            var numeros_jugadas = [];            
            var pote = {{jugadas_procesadas.0.pote.id}};
            {% for i in jugadas_procesadas %}
                numeros_jugadas.push({{i.numero}});
            {% endfor %}
            window.setTimeout(function(){                
                $.ajax({
                    url: "{% url 'timeout' %}",
                    data: {
                        'jugadas': numeros_jugadas,
                        'pote': pote
                    },
                    dataType: 'json',
                    success: function(){
                        alert("Your time for paying has expired");
                        window.location.href = "{% url 'play' %}";
                    }
                });
            }, 60000);
        });
    </script>
{% endblock %}

{% block title %}Check-out{% endblock %}

{% block content %}
    {% if jugadas_ocupadas %}
        <h4>Someone was faster than you! the
        {% for i in jugadas_ocupadas %}
            {{i.numero}}, 
        {% endfor %}
        were already token :(</h4>
    {% endif %}
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Pot N°</th>
                <th>Selected number</th>
                <th>price</th>
            </tr>
        </thead>
        <tbody>
            {% for i in jugadas_procesadas%}
            <tr>
                <td>
                    {{i.pote.id}}
                </td>
                <td>
                    {{i.numero}}
                </td>
                <td>
                    {{i.pote.valor_jugada}}
                </td>
            </tr>
            {% endfor %}            
        </tbody>
        <tfoot>
            <tr>
                <td>                    
                </td>
                <td>                    
                </td>
                <td>                    
                    Total: {{amount}} Btc (+fees)
                </td>
            </tr>
        </tfoot>
    </table>
     <!-- procesador de pago -->

    <div align="center" style="min-width:530px">
        <iframe id="iframe_id" style="border-radius:15px;border:1px solid #eee;padding:3px 6px;margin:10px;" scrolling="no" marginheight="0" marginwidth="0" frameborder="0" width="530" height="230"></iframe>
    </div>
    <script type="text/javascript">
        dynamic_fill({{boxID}}, '{{tipo_pago}}', {{amount}}, '{{user}}', '{{orderID}}', '{{md5}}')
    </script>
    
{% endblock content %} 
