<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
	<title>BETCnow</title>
</head>
<body>
	<center><img src="{% static 'betcnow/img/bn2.png' %}"></center>
	
		<center><h2>Privacy policies</h2></center>

By registering at Betcnow, you agree that you have read, understood and accepted the following terms and conditions of this Privacy Policy. If you do not agree with any of these terms, you should not register.

<h3>1. Cookies</h3>
1.1 Your browser must accept cookies.<br>
1.2 You allow us to use cookies to store sessions, unique identifiers, preferences or any other information that helps us, among others, to identify you as a visitor or logged-in user, and to offer you the best possible browsing experience<br>

<h3>2. User account</h3>
2.1 Your email address will not be displayed, offered or sold.<br>
2.2 Your personal email address will only be used by Betcnow to contact you and to send you a new password if you request it.<br>
2.3 Your password will be stored in irreversible format.<br>
2.4 Your user password will never be displayed, offered or sold.<br>
2.5 The conversations with our support are private. You are not authorized to make them public.<br>

<h3>3. External Services</h3>
3.1 All transactions made by GoUrl are subject to its Privacy Policy.<br>
</body>
</html>