{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<!-- AQUI VA EL CUERPO -->
<!-- BOTON DE OVERVIEW OVERVIEW OVERVIEW OVERVIEW OVERVIEW OVERVIEW OVERVIEW OverviewOVERVIEW OVERVIEW OVERVIEW -->
<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading"  style="background: #c7d9ed">
          <center><h4 class="panel-title color-azul-betcnow"><a data-toggle="collapse" data-parent="#accordion" href="#collapse1"><b>Overview</b></a></h4></center>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
            <!-- cabecera de la informacion -->     
                <div class="box">  
                    <div class="container-fluid">
                        <div class="row">
                            <ul>
                                <div class="col-xs-6 col-sm-7 col-md-10 col-lg-10 saludo">
                                    <li><h2 class="subtitulos">Hello, {{user}}!</h2></li>
                                </div>   
                                <div class="col-xs-6 col-sm-5 col-md-2 col-lg-2">
                                    <li><b>Server time: </b>{{time|date:"P"}}</li>
                                </div>
                            </ul>

                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-1 col-sm-3 col-md-3 col-lg-2 imagen-medalla">
                                <img src="{% static 'betcnow/img/medalla.jpg' %}">
                            </div>                        
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 info-user">
                                <ul>
                                    <li><b class="identificador-info">Member since: </b> {{user.date_joined|date}}</li>                          
                                    <li ><b class="identificador-info">Membership</b>: {{perfil.membresia}} 
										{% if is_member is False %}
										<a id="upgrade-link" href="{% url 'membership' %}" target="_blank">(Upgrade)</a></li>
										{% endif %}
										
                                    <li><b class="identificador-info">Bitcoin Address:</b><br><p class="letras-pequeñas">{{perfil.address}}</p></li>
                                </ul>
                            </div>
                            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-3 col-lg-offset-3 fondo-botones-redondos">
                                <div class="row">
                                    <div class="col-xs-6 col-sm-6 col-md-offset-4 col-md-4 col-lg-6 col-lg-offset-0 boton-jugadas">                                    
                                        <a class="button" data-toggle="collapse" data-target="#misjugadas">
                                            <div class="row botones-redondos"><span class="glyphicon glyphicon-star"></span >
                                            </div>
                                        </a>                                    
                                        <div class="row caja-nombres-botones">
                                            <h3>Plays</h3>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-6 boton-referidos">                                    
                                        <a class="button" data-toggle="collapse" data-target="#misreferidos">
                                            <div class="row botones-redondos"><span class="glyphicon glyphicon-user"></span >
                                            </div>
                                        </a>                                    
                                        <div class="row caja-nombres-botones">
                                            <h3>Referrals</h3>
                                        </div>
                                    </div>                                    
                                </div>
                            </div> 
                        </div>
                    </div>
                </div> <!-- div del box -->
            </div>
        </div>  
    </div>
    
    <div id="misjugadas" class="collapse">        
        <div class="row renglon-plays">
			<h4 class="color-azul-betcnow puntos-BTCrace">Bitcoin-Race Points: </h4> <h2 class="puntos-BTCrace">{{perfil.puntos}}pts.</h2>
			<hr>
            {% if jugadas_activas %}
                <h4 class="color-azul-betcnow">Your active plays</h4>
                <div class="col-lg-4">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th>Pot N°</th>
                                <th>Selected number</th>                       
                                <th>Date and hour</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in jugadas_activas%}
                            <tr>
                                <td>
                                    {{i.pote.id}}
                                </td>
                                <td>
                                    {{i.numero}}
                                </td>
                                <td>
                                    {{i.fecha_jugada}}
                                </td>
                            </tr>
                            {% endfor %}            
                        </tbody>                
                    </table>
                </div>
            {% else %}
                <h5 class="color-azul-betcnow"> You haven't made any play for a currently open betcpot</h5>                
            {% endif %}
        </div>
    </div>

    <!-- DESPLIEGUE DE BOTON MIS REFERIDOS -->

    <div id="misreferidos" class="collapse">
         <div class="row">
            {% if referidos %}
                <h4 class="color-azul-betcnow">Your Referrals</h4>
                <div class="col-lg-4">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th>Referral</th>
                                <th>Revenue generated (Btc)</th>      
                            </tr>
                        </thead>
                        <tbody>
                            {% for referido in referidos%}
                            <tr>
                                <td>
                                    {{referido.user.username}}
                                </td>
                                <td>
                                    {{referido.sponsor_revenue|floatformat:6}}
                                </td>                                
                            </tr>
                            {% endfor %}            
                        </tbody>                
                    </table>
                </div>
            {% else %}
                <h5 class="color-azul-betcnow"> You haven't any referrals yet :(</h5>                
            {% endif %}
        </div>
       
    </div>

    <!-- DESPLIEGUE DE BOTON MIS TROFEOS -->

    <div id="mistrofeos" class="collapse">
        aqui se mostraran los trofeos obtenidos 
    </div>
</div>

<!-- PANEL MY ACCOUNT -->

<div class="panel panel-default">
    <div class="panel-heading" style="background: #c7d9ed">
        <center><h4 class="panel-title color-azul-betcnow"><a data-toggle="collapse" data-parent="#accordion" href="#collapse2"><b>Settings</b></a></h4></center>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body">
            <div class="container">
                <div class="row botones-myaccount-group">                                              
                    <div class="col-xs-8 col-sm-4 col-md-2 col-md-offset-3 col-lg-2 col-lg-offset-3">
                        <a class="btn btn-info botones-myaccount" href="{% url 'auth_password_change' %}" target="_blank">Change Password</a>
                    </div>                                        
                    <div class="col-xs-8 col-sm-4 col-md-2 col-lg-2" id="boton-change_wallet">
                        <a class="btn btn-info botones-myaccount" href="{% url 'membership' %}" target="_blank">Upgrade</a>                
                    </div>     
                    <div class="col-xs-8 col-sm-4 col-md-2 col-lg-2">
                        <a class="btn btn-info botones-myaccount" href="#" data-toggle="collapse" data-target="#demo">Change Address</a>
                    </div>                    
                </div>
                <div id="demo" class="col-lg-6 col-lg-offset-3 collapse">
                    <form action="" method="post">
                        {% csrf_token %}
                        <label for="input_wallet">ONLY BITCOIN wallet addresses allowed</label>
                        <div class="form-group">
                            <input class="form-control" type="text" value="{{perfil.address}}" name="input_wallet">
                        </div>
                        <input class="btn btn-info submit-color-betcnow form-control" type="submit" value="Change">
                    </form>
                </div>
            </div>
        </div> 
    </div>
</div>


<!-- PANEL MY REFERALS TOOLS -->

<div class="panel panel-default">
    <div class="panel-heading" style="background: #c7d9ed">
        <center><h4 class="panel-title color-azul-betcnow"><a data-toggle="collapse" data-parent="#accordion" href="#collapse3"><b>Referrals tools</b></a></h4></center>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body">
          <h4>Referals link:</h4> <a href="{% url 'ref_register' pk=user.id %}" target="_blank"><p class="letras-pequeñas">http://rewr.pythonanywhere.com/accounts/register/ref={{user.id}}</p></a><br>
          Banners: 
        </div>
    </div>
</div>
<!-- aqui termina el cuerpo -->
{% endblock %}

<div class="container">
  <h2>Simple Collapsible</h2>
  <p>Click on the button to toggle between showing and hiding content.</p>
  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Simple collapsible</button>
  
</div>
