{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<!-- AQUI VA EL CUERPO -->
<!-- BOTON DE OVERVIEW OVERVIEW OVERVIEW OVERVIEW OVERVIEW OVERVIEW OVERVIEW OverviewOVERVIEW OVERVIEW OVERVIEW -->
<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
          <center><h4 class="panel-title color-azul-betcnow"><a data-toggle="collapse" data-parent="#accordion" href="#collapse1"><b>Overview</b></a></h4></center>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
            <!-- cabecera de la informacion -->     
                <div class="box">  
                    <div class="container-fluid">
                        <div class="row">
                            <ul>
                                <div class="col-xs-7 col-sm-7 col-md-10 col-lg-10 saludo">
                                    <li><h2 class="subtitulos">Hello, {{user}}!</h2></li>
                                </div>   
                                <div class="col-xs-5 col-sm-5 col-md-2 col-lg-2">
                                    <li><b>Server time: </b>{{time|date:"P"}}</li>
                                </div>
                            </ul>

                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-1 col-sm-3 col-md-3 col-lg-2 imagen-medalla">
                                <img src="{% static 'betcnow/img/medalla.jpg' %}">
                            </div>                        
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 info-user">
                                <ul>
                                    <li><b>Member since: </b> {{user.date_joined|date}}</li>                                    
                                    <li ><b>Membership</b>: {{perfil.membresia}} <a id="upgrade-link" href="{% url 'membership' %}" target="_blank">(Upgrade)</a></li>
                                    <li><b>Bitcoin Address:</b>{{perfil.address}}</li>
                                </ul>
                            </div>
                            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-4 col-lg-offset-2 fondo-botones-redondos">
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 boton-jugadas">                                    
                                        <a class="button" data-toggle="collapse" data-target="#misjugadas">
                                            <div class="row botones-redondos"><span class="glyphicon glyphicon-tower"></span >
                                            </div>
                                        </a>                                    
                                        <div class="row caja-nombres-botones">
                                            <h3>Plays</h3>
                                        </div>
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 boton-referidos">                                    
                                        <a class="button" data-toggle="collapse" data-target="#misreferidos">
                                            <div class="row botones-redondos"><span class="glyphicon glyphicon-user"></span >
                                            </div>
                                        </a>                                    
                                        <div class="row caja-nombres-botones">
                                            <h3>Referrals</h3>
                                        </div>
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 boton-trofeos">
                                        <a class="button" data-toggle="collapse" data-target="#mistrofeos">
                                            <div class="row botones-redondos"><span class="glyphicon glyphicon-star"></span>
                                            </div>
                                        </a>                                                          
                                        <div class="row caja-nombres-botones">
                                            <h3>Trophys</h3>
                                        </div>
                                    </div>                                                                
                                </div>
                            </div> 
                        </div>
                    </div>
                </div> <!-- div del box -->
            </div>
        </div>  
    </div>
    
    <div id="misjugadas" class="collapse">
        TABLA CON JUGADAS ACTIVAS
    </div>

    <!-- DESPLIEGUE DE BOTON MIS REFERIDOS -->

    <div id="misreferidos" class="collapse">
        Aqui se mostraran los referidos y las ganancias generadas al sponsor
    </div>

    <!-- DESPLIEGUE DE BOTON MIS TROFEOS -->

    <div id="mistrofeos" class="collapse">
        aqui se mostraran los trofeos obtenidos 
    </div>
</div>

<!-- PANEL MY ACCOUNT -->

<div class="panel panel-default">
    <div class="panel-heading">
        <center><h4 class="panel-title color-azul-betcnow"><a data-toggle="collapse" data-parent="#accordion" href="#collapse2"><b>Settings</b></a></h4></center>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body">
            <div class="container">
                <div class="row botones-myaccount-group">                                              
                    <div class="col-xs-8 col-sm-4 col-md-2 col-md-offset-3 col-lg-2 col-lg-offset-3">
                        <a class="btn btn-info botones-myaccount" href="{% url 'auth_password_change' %}" target="_blank">Change Password</a>
                    </div>
                    <div class="col-xs-8 col-sm-4 col-md-2 col-lg-2" id="boton-change_wallet">
                        <a class="btn btn-info botones-myaccount" href="#">Change Wallet</a>
                    </div>
                    <div class="col-xs-8 col-sm-4 col-md-2 col-lg-2">
                        <a class="btn btn-info botones-myaccount" href="{% url 'membership' %}" target="_blank">Upgrade</a>                
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>


<!-- PANEL MY REFERALS TOOLS -->

<div class="panel panel-default">
    <div class="panel-heading">
        <center><h4 class="panel-title color-azul-betcnow"><a data-toggle="collapse" data-parent="#accordion" href="#collapse3"><b>Referrals tools</b></a></h4></center>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body">
          Referals link: <a href="{% url 'ref_register' pk=user.id %}" target="_blank">http://rewr.pythonanywhere.com/accounts/register/ref={{user.id}}</a><br>
          Banners: 
        </div>
    </div>
</div>

<!-- aqui termina el cuerpo -->
{% endblock %}