{% extends 'base.html' %}
{% load staticfiles %}
{% block scripts %}
    <script>
        function show_success(){
            document.getElementById("success").style = 'block';
            window.setTimeout(function(){
                document.getElementById("send_testimonial").submit();            
            }, 3000);
        }
    </script>
{% endblock %}
<!-- AQUI VA EL CUERPO -->
{% block title%} Testimonials {% endblock %}
{% block content%}
<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-lg-6 col-lg-offset-3 caja-testimonios">
            {% for testimonio in testimonios %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                            <div class="row">
                                <div class="col-lg-9">
                                    {{testimonio.user}}
                                </div>
                                <div class="col-lg-3">
                                    {{testimonio.fecha}}
                                </div>
                            </div>
                    </div>
                    <div class="panel-body">
                        {{testimonio.texto}}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- BOTON DE AGREGAR COMENTARIO -->
<!-- Trigger the modal with a button -->
{% if request.user.is_authenticated %}
<center><button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">Add Testimonials</button></center><br>
{% endif %}

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
    <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add testimonials</h4>
            </div>
            <div class="modal-body">   
                <form method="post" action="{% url 'proccess_testimonial' %}" id="send_testimonial">
                    {% csrf_token %}
                    <div class="form-group">                                                
                        <label for="comment"> Hi, {{user}}!<br> Could you tell your experience in betcnow (in 140 characters)?</label>            
                        <textarea class="form-control" rows="5" id="comment" maxlength="140" name="texto"></textarea>
                    </div>                        
                    <div class="form-group">
                        <input type="button" value="Send" class="btn btn-info submit-color-betcnow" onclick="show_success()">
                    </div>                
                </form>
            </div>
            <div class="modal-footer">
                <div class="alert alert-success" id="success" style="display: None">
                    <strong>Big Thanks! :)</strong> Your testimony will be posted very soon.
                </div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- aqui termina el cuerpo -->
{% endblock %}