{% extends 'base.html' %}
{% load staticfiles %}
{% block meta_title %}Membership Upgrade - BETCnow{% endblock %}
{% block scripts %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="{% static 'betcnow/js/cryptobox.js' %}" type="text/javascript"></script>
    <script src="{% static 'betcnow/js/dynamic-fill.js' %}"></script>
{% endblock %}

{% block title %}<h1 class="subtitulos">Memberships</h1>{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-lg-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <center><h4>Free membership</h4></center>
                    <div class="thumbnail">                        
                        <img src="{% static 'betcnow/img/medalla.jpg' %}" alt="Lights" style="width:60%">                                       
                    </div>
                </div>
                <div class="panel-body">
                    <ul>
                        <li>
                            Earn 5% of every play made by your referrals
                        </li>
                    </ul>
                </div>
            </div>            
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <center><h4>Member - 0.002 BTC/month</h4></center>
                    <div class="thumbnail">                        
                        <img src="{% static 'betcnow/img/member.jpg' %}" alt="Lights" style="width:60%">                                       
                    </div>
                </div>
                <div class="panel-body">                        
                    <ul>
                        <li>
                            Earn 10% of every play made by your referrals
                        </li>
                        <li>
                            Unlock Betcpot's numbers with gift prizes.
                        </li>
                        <li>
                            Jump into the Bitcoin Race
                        </li>
                    </ul>
                </div>
                <div class="panel-footer">					
					<button type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#myModal">Become a Member!</button>
                </div>
            </div>                        
        </div>        
    </div>
</div>


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
    <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header"  style="background: #5cb85c; color:#fff;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <center><h4 class="modal-title">Upgrade your account!</h4></center>
            </div>
            <div class="modal-body">   
                <div align="center" style="min-width:530px">
        			<iframe id="iframe_id" style="border-radius:15px;border:1px solid #eee;padding:3px 6px;margin:10px;" scrolling="no" marginheight="0" marginwidth="0" frameborder="0" width="530" height="230"></iframe>
    			</div>				
    			<script type="text/javascript">
        			dynamic_fill({{boxID}}, '{{tipo_pago}}', {{amount_member}}, '{{user}}', '{{orderID_member}}', '{{hash_member}}')
    			</script>
            </div>
            <div class="modal-footer">
                <div class="alert alert-success" id="success" style="display: None">
                    <strong>Big Thanks! :)</strong> Your testimony will be posted very soon.
                </div>
                <button type="button" class="btn btn-default" style="background: #5cb85b; color:#fff;" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}