<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <title>BETCnow</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'betcnow/css/betcnow.css' %}">
    <link href="{% static 'betcnow/css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <script src="{% static 'betcnow/js/ie-emulation-modes-warning.js' %}"></script>    
    {% block scripts %}
    {% endblock %}
</head>
<body>
<div id="container">
<div id="header">
  <div class="container-fluid">  
      <div class="row">
          <div class="col-xs-8 col-md-8 col-lg-8 div-logo">
			  <a href="{% url 'home' %}"><img class="img-responsive" src="{% static 'betcnow/img/bnletras.png' %}" alt="Logo de BETCnow" title="Ir a BETCnow"></a>
          </div>
		  <div class="col-xs-4 col-lg-2 col-lg-offset-2 col-sm-2 col-sm-offset-2 col-md-2 col-md-offset-2" id="botones-login">
				{% if request.user.is_authenticated %}
						<a href="{% url 'profile' pk=request.user.pk %}" class="btn btn-primary M "><b>{{user}}</b></a>

						<a href="{% url 'auth_logout' %}" class="btn btn-primary A" ><span class="glyphicon glyphicon-log-out"></span> Loggout</a>
				{% else %}
			   			<a href="{% url 'registration_register' %}" class="btn btn-primary M"><span class="glyphicon glyphicon-user"></span >Sign Up</a>

						<a href="{% url 'login' %}" class="btn btn-primary A"><span class="glyphicon glyphicon-log-in"></span> Login</a>
				{% endif %}                    
			 </div>
        </div>
  </div>
<nav class= "navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <!-- boton responsive -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-1">
                  <span class="sr-only">Menu</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
            </button> 
        </div>
       <div class="collapse navbar-collapse" id="navbar-1">
            <div class>
               <ul class="nav navbar-nav">
                    <li ><a href="{% url 'home' %}" ><span class="glyphicon glyphicon-home"></span> Home</a></li>
                    <li ><a href="{% url 'results' %}" ><span class="glyphicon glyphicon-th"></span> Results</a></li>
                    <li ><a href="{% url 'about' %}" ><span class="glyphicon glyphicon-info-sign"></span> About</a></li>
              </ul>     
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'play' %}" id="B"> <b>PLAY NOW  </b><span  class="glyphicon glyphicon-bitcoin"></span></a></li> 
                </ul>
            </div>
      </div>
    </div>
</nav>
</div>
<center><h2 class="subtitulos">{% block title %}{% endblock %}</h2></center>
<div id="body">
<!-- AQUI VA EL CUERPO -->
{% block content%}
{% endblock %}
<!-- aqui termina el cuerpo -->
</div>
<div id="footer">
	<div class="container">
		<div class="row">
			<div class=" col-md-4 col-sm-4 col-lg-4">
				<center><img id="img-bitcoin" src="{% static 'betcnow/img/Bitcoin_Accepted_Here.png' %}"></center>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4">
				<center><p class=text-muted>&copy; 2017 Betcnow. All rights reserved</p></center>		
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4" style="text-align: right">
					<ul id="terms-policy">
						<li>
							<a href="terminos">Terms and conditions</a>
						</li>
						|
						<li>
							<a href="policy">Privacy policy</a>
						</li>
					</ul>
			</div>
		</div>
	</div>
</div>	
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{% static 'betcnow/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'betcnow/js/ie10-viewport-bug-workaround.js' %}"></script>
</body>
</html>